Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

update deriv api in deriv auth
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

Updated dependencies
  packages/deriv_auth/example/pubspec.yaml
Owners: @sahani-deriv

update_deriv_ui_dep
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated deriv_auth example
  packages/deriv_auth/example/lib/features/login/repositories/example_login_repository.dart
  packages/deriv_auth/example/lib/features/login/services/example_login_service.dart
Owners: @sahani-deriv

fixed package errors
  packages/update_checker/example/lib/update_bloc_page.dart
  packages/update_checker/example/lib/update_checker_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated package errors
  packages/update_checker/example/lib/update_bloc_page.dart
  packages/update_checker/example/lib/update_checker_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: pre commit check message for semantic
  githooks/commit-msg
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: git hook setup document
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: remove formatting
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

elevate `DerivAtuhService` params to parent class.
  packages/deriv_auth/example/lib/features/login/repositories/example_login_repository.dart
  packages/deriv_auth/example/lib/features/login/services/example_login_service.dart
  packages/deriv_auth/example/lib/main.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/base_auth_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

New translations app_en.arb (German)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_de.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

temporarily commented trackers
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: update readme for commit-msg
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: fix merge blocking chore(version)
  .github/workflows/check_versioning_pr.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: add missing close bracket
  .github/workflows/check_versioning_pr.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Replace uni_links2 with app_links
  packages/deriv_auth/lib/features/social_auth/services/social_web_view_service.dart
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

Downgraded the version of app_links
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: remove curl command
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update deriv_chart dep
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_auth): minor change in readme file
  packages/deriv_auth/README.md
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated pubspec
  packages/deriv_auth/lib/features/social_auth/services/social_web_view_service.dart
  pubspec.lock
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add default token login tracking.
  packages/deriv_auth/lib/core/analytics/data/auth_tracking_data.dart
Owners: @sahani-deriv

implemented new multi token authorization change
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
Owners: @sahani-deriv

update readme file
  packages/deriv_mobile_chart_wrapper/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix typo.
  packages/deriv_auth/lib/core/analytics/data/auth_tracking_data.dart
Owners: @sahani-deriv

chore: bump version and update changelog
  CHANGELOG.md
  README.md
  packages/deriv_auth/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated deriv auth authorize methods
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/deriv_auth_io.dart
  packages/deriv_auth/test/features/auth/cubit/deriv_auth_cubit_test.dart
Owners: @sahani-deriv

add keys to passkeys
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/icon_text_row_widget.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add keys to deriv passkey package effortless_passkeys_login_page
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

modified implementation
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fixed naming
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Added print statements
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/DerivPasskeysPlugin.kt
  packages/deriv_passkeys/lib/src/data/data_sources/deriv_passkeys_data_source.dart
  packages/deriv_passkeys/lib/src/data/platform/deriv_passkeys_method_channel.dart
  packages/deriv_passkeys/lib/src/interactor/services/deriv_passkeys_service.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Added more print statements
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/DerivPasskeysPlugin.kt
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add indicator categories
  packages/deriv_mobile_chart_wrapper/lib/src/core_widgets/chips_list.dart
  packages/deriv_mobile_chart_wrapper/lib/src/core_widgets/core_widgets.dart
  packages/deriv_mobile_chart_wrapper/lib/src/core_widgets/custom_chip.dart
  packages/deriv_mobile_chart_wrapper/lib/src/core_widgets/no_glow_scroll_behavior.dart
  packages/deriv_mobile_chart_wrapper/lib/src/enums.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/models/indicator_item_model.dart
  packages/deriv_mobile_chart_wrapper/lib/src/models/indicator_tab_label.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add indicator strings
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_en.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (French)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_fr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
