Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

added keys to numpad in deriv_ui package
  packages/deriv_ui/lib/components/numpad/core/widgets/currency_switcher.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Fix indicator wireup subtasks
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/models/indicator_tab_label.dart
  packages/deriv_ui/lib/components/value_selector/value_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated keys in numpad in deriv_ui
  packages/deriv_numpad/lib/core/widgets/currency_switcher.dart
  packages/deriv_ui/lib/components/numpad/core/widgets/currency_switcher.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

reverting changes in deriv_numpad
  packages/deriv_numpad/lib/core/widgets/currency_switcher.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add onDispose method to deriv bottomsheet and add key to bottmsheet top handle
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
  packages/deriv_ui/lib/widgets/custom_draggable_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Add reloadChatView method to DerivLiveChat class
  packages/deriv_live_chat/android/src/main/kotlin/com/deriv/app/deriv_live_chat/DerivLiveChatPlugin.kt
  packages/deriv_live_chat/ios/Classes/SwiftDerivLiveChatPlugin.swift
  packages/deriv_live_chat/lib/deriv_live_chat.dart
Owners: @ramin-deriv, @ahrar-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Created a new icon button widget for drawing tools"
  packages/deriv_mobile_chart_wrapper/assets/icons/ic_drawing_tool.svg
  packages/deriv_mobile_chart_wrapper/lib/src/assets.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tool_icon_button.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_ui.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/test/mobile_chart_wrapper_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix!: make deriv bottomsheet height dynamic
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: add divider in action button of deriv bottomsheet
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: colorselector ui issues
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/color_selector.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/colours_grid.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

export account entity class
  packages/deriv_passkeys/lib/deriv_passkeys.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

added a fix for how we save the token in the enhanced authorize entity
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

fix: add divider in action button of deriv bottomsheet
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: colorselector ui issues
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/color_selector.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/colours_grid.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix!: make deriv bottomsheet height dynamic
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: description bottomsheet height
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update theme colors.
  packages/deriv_theme/lib/colors/colors.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: analysis issues
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: analysis issues
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: description bottomsheet height
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: analysis issue
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: color selector ui
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/color_selector.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/colours_grid.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix configs issue
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_menu_button.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: add divider in action button of deriv bottomsheet
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: colorselector ui issues
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/color_selector.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/colours_grid.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix!: make deriv bottomsheet height dynamic
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: description bottomsheet height
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: analysis issues
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: color selector ui
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/color_selector.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/colours_grid.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: analysis issue
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add contract closed event
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

fix:pass empty NumberFormat to accept decimal value
  packages/deriv_mobile_chart_wrapper/lib/src/pages/rsi_setting_page.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: input failed padding.
  packages/deriv_ui/lib/components/numpad/widgets/number_pad_single_textfield.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

initial commit add bottom sheet for line frawing tool
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_en.arb
  packages/deriv_logger/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_mobile_chart_wrapper/assets/icons/ic_line.svg
  packages/deriv_mobile_chart_wrapper/lib/src/assets.dart
  packages/deriv_mobile_chart_wrapper/lib/src/enums.dart
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/active_drawing_tool_list_item.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tool_description_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/models/drawing_tool_item_model.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
