Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

New translations app_en.arb (Mongolian)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_mn.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Mongolian)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_mn.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Mongolian)
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_mn.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Uzbek)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_uz.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Uzbek)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_uz.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Uzbek)
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_uz.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated reference to flutter deriv api
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/deriv_logger/example/pubspec.yaml
  packages/deriv_passkeys/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add auto trade rudderstack events
  packages/analytics/.gitignore
  packages/analytics/example/lib/main.dart
  packages/analytics/example/lib/pages/rudderstack.dart
  packages/analytics/example/pubspec.yaml
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
  packages/analytics/pubspec.yaml
  packages/analytics/test/firebase/sdk/deriv_firebase_sdk_test.dart
  packages/analytics/test/rudderstack/sdk/deriv_rudderstack_sdk_test.dart
Owners: @waqas-younas-deriv

Update packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix import issue
  packages/deriv_cipher/test/cipher_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add indicator events
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

move revamp logic to chart package
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix comment
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert remove logic back to wrapper
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: method scope issue
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

fix: naming
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

refactor
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add indicator events
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/indicator_event_service.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/bb_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/ma_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/macd_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/rsi_setting_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: export event service class in chart wrapper package
  packages/deriv_mobile_chart_wrapper/lib/deriv_mobile_chart_wrapper.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update intl version
  packages/deriv_ui/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update all_packages.yaml
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update intl version
  packages/deriv_localizations/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update flutter-deriv-api to temp PR
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

update flutter-deriv-api to temp PR
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update flutter-deriv-api dependency
  packages/deriv_auth/pubspec.yaml
  packages/deriv_http_client/build/unit_test_assets/AssetManifest.bin
  packages/deriv_http_client/build/unit_test_assets/AssetManifest.json
  packages/deriv_http_client/build/unit_test_assets/FontManifest.json
  packages/deriv_http_client/build/unit_test_assets/NOTICES.Z
  packages/deriv_http_client/build/unit_test_assets/shaders/ink_sparkle.frag
  packages/deriv_local_feature_flag/.gitignore
  packages/deriv_local_feature_flag/.metadata
  packages/deriv_local_feature_flag/CHANGELOG.md
  packages/deriv_local_feature_flag/LICENSE
  packages/deriv_local_feature_flag/README.md
  packages/deriv_local_feature_flag/analysis_options.yaml
  packages/deriv_local_feature_flag/lib/deriv_local_feature_flag.dart
  packages/deriv_local_feature_flag/lib/src/feature_flag_service/local_feature_flag_setting_service.dart
  packages/deriv_local_feature_flag/lib/src/feature_flag_service/remote_feature_flag_setting_service.dart
  packages/deriv_local_feature_flag/pubspec.yaml
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_ui/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  pubspec.lock
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor: add features map to deriv feature flag file
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: remove wrong import
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor: fetatures function
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor: pass a widget to show feature flag inside settings page
  packages/deriv_auth/lib/features/setting_page/presentation/layouts/deriv_setting_layout.dart
  packages/deriv_auth/lib/features/single_entry/core/models/setting_page_model.dart
  packages/deriv_auth/lib/features/single_entry/features/settings/pages/settings_page.dart
Owners: @sahani-deriv

fix: pass events sevice to tools bottomsheet content
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: add event to info icon in settings page
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: fix reset event and close info event and open settings event
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/bb_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/ma_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/macd_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/rsi_setting_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix bugs
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/bb_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/ma_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/macd_settings_page.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/rsi_setting_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: delete indicator dialog pop issue
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: correct the open info event action name
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
