Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

Updated the text of drawing tool "Delete all" dialog.
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Added new strings for `deriv_mobile_chart_wrapper`. Update localizations.
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_en.arb
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_ar.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_bn.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_de.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_en.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_es.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_fr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_it.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_ko.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_pl.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_pt.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_ru.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_si.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_sw.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_th.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_tr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_vi.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_zh.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

reafctore: add on flow finished call back
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/passkey_created_page.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_created_call_to_action.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

small fix
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: add call for on pass key flow finish callback
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/passkey_created_page.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_created_call_to_action.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: pass callback
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

merge
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update version
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix labels
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_en.arb
  packages/deriv_logger/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: filter supported accounts while logging in
  packages/deriv_auth/lib/core/extensions/authorize_extensions.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

remove adding lineConfig into repo
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add counting logic
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

init state as a copy of deriv-env
  packages/deriv_cipher/.gitignore
  packages/deriv_cipher/.metadata
  packages/deriv_cipher/CHANGELOG.md
  packages/deriv_cipher/LICENSE
  packages/deriv_cipher/README.md
  packages/deriv_cipher/analysis_options.yaml
  packages/deriv_cipher/lib/base_cipher.dart
  packages/deriv_cipher/lib/base_env_loader.dart
  packages/deriv_cipher/lib/cipher.dart
  packages/deriv_cipher/lib/deriv_env.dart
  packages/deriv_cipher/lib/env.dart
  packages/deriv_cipher/lib/env_loader.dart
  packages/deriv_cipher/pubspec.yaml
  packages/deriv_cipher/test/.env.empty.test
  packages/deriv_cipher/test/.env.test
  packages/deriv_cipher/test/cipher_test.dart
  packages/deriv_cipher/test/env_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactore: add documentation and choose better name for callback
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/manage_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/passkey_created_page.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_created_call_to_action.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactore: add documentation and change name of callback
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

delete env related code
  packages/deriv_cipher/lib/base_env_loader.dart
  packages/deriv_cipher/lib/deriv_cipher.dart
  packages/deriv_cipher/lib/deriv_env.dart
  packages/deriv_cipher/lib/env.dart
  packages/deriv_cipher/lib/env_loader.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add helper to deal with the encryption key
  packages/deriv_cipher/lib/helper.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove the env test
  packages/deriv_cipher/test/env_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactore: using callback
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/learn_more_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/manage_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_created_call_to_action.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

use the key as a list of integer
  packages/deriv_cipher/lib/base_cipher.dart
  packages/deriv_cipher/lib/cipher.dart
  packages/deriv_cipher/test/cipher_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ignore the tool file
  packages/deriv_cipher/.gitignore
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update the README.md
  packages/deriv_cipher/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update the CHANGELOG.md
  packages/deriv_cipher/CHANGELOG.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: review comment
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_created_call_to_action.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update the README.md for the packages
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: add disability check in account filtering
  packages/deriv_auth/lib/core/extensions/authorize_extensions.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

update depdendencies and a minor fix
  packages/analytics/lib/sdk/firebase/sdk/deriv_firebase_analytics.dart
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

some fixes
  packages/analytics/example/lib/pages/rudderstack.dart
  packages/analytics/test/firebase/sdk/deriv_firebase_sdk_test.dart
Owners: @waqas-younas-deriv

update the package name
  packages/deriv_cipher/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update DD version
  packages/analytics/lib/sdk/datadog/core/enums.dart
  packages/analytics/lib/sdk/datadog/sdk/deriv_datadog.dart
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

Revert "update DD version"
  packages/analytics/lib/sdk/datadog/core/enums.dart
  packages/analytics/lib/sdk/datadog/sdk/deriv_datadog.dart
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

update firebase_performance dep
  packages/deriv_app_performance/pubspec.yaml
Owners: @waqas-younas-deriv

update firebase_database depdendency
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update remote config version
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

set landing logic
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update all_packages.yaml
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update all_packages.yaml
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update all_packages.yaml
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
