Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

PR review comments on `analytics` package
  packages/analytics/CHANGELOG.md
  packages/analytics/README.md
  packages/analytics/example/.env
  packages/analytics/example/.env.example
  packages/analytics/example/README.md
  packages/analytics/example/lib/main.dart
  packages/analytics/lib/analytics.dart
  packages/analytics/lib/sdk/base_analytics_configuration.dart
  packages/analytics/lib/sdk/datadog/core/enums.dart
  packages/analytics/lib/sdk/datadog/sdk/deriv_datadog.dart
  packages/analytics/lib/sdk/firebase/core/firebase_configuration.dart
  packages/analytics/lib/sdk/firebase/sdk/deriv_firebase_analytics.dart
  packages/analytics/lib/sdk/rudderstack/core/rudderstack_configuration.dart
  packages/analytics/lib/sdk/rudderstack/sdk/deriv_rudderstack_sdk.dart
  packages/analytics/pubspec.yaml
  packages/analytics/test/datadog/sdk/deriv_datadog_test.dart
  packages/analytics/test/firebase/core/deriv_firebase_analytics_configuration_test.dart
  packages/analytics/test/firebase/sdk/deriv_firebase_sdk_test.dart
  packages/analytics/test/rudderstack/core/deriv_rudderstack_configuration_test.dart
  packages/analytics/test/rudderstack/sdk/deriv_rudderstack_sdk_test.dart
Owners: @waqas-younas-deriv

added `setUserProperty` function to `DerivFirebaseAnalytics`
  packages/analytics/lib/sdk/firebase/sdk/deriv_firebase_analytics.dart
  packages/analytics/test/firebase/sdk/deriv_firebase_sdk_test.dart
Owners: @waqas-younas-deriv

fixed a test case
  packages/analytics/test/rudderstack/sdk/deriv_rudderstack_sdk_test.dart
Owners: @waqas-younas-deriv

get the env file content from outside
  packages/deriv_env/lib/base_env.dart
  packages/deriv_env/lib/env.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

make Env class not being singleton
  packages/deriv_env/lib/base_env.dart
  packages/deriv_env/lib/env.dart
  packages/deriv_env/lib/env_loader.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

create EnvLoader class
  packages/deriv_env/lib/base_env.dart
  packages/deriv_env/lib/env_loader.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix the tests
  packages/deriv_env/lib/env_loader.dart
  packages/deriv_env/test/env_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

bring back the removed test case
  packages/deriv_env/test/env_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update the initialize doc
  packages/deriv_env/lib/env_loader.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: setting page
  packages/deriv_auth_ui/lib/generated/intl/messages_en.dart
  packages/deriv_auth_ui/lib/generated/l10n.dart
  packages/deriv_auth_ui/lib/l10n/intl_en.arb
  packages/deriv_auth_ui/lib/src/core/helpers/endpoint_helper.dart
  packages/deriv_auth_ui/lib/src/core/helpers/regex_helper.dart
  packages/deriv_auth_ui/lib/src/features/setting_page/layouts/deriv_setting_layout.dart
  packages/deriv_auth_ui/pubspec.yaml
Owners: @sahani-deriv

Add dimens 112 and 164
  packages/deriv_theme/lib/src/dimens.dart
  packages/deriv_theme/lib/theme_provider.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: depricated issues
  packages/deriv_auth_ui/analysis_options.yaml
  packages/deriv_auth_ui/lib/deriv_auth_ui.dart
  packages/deriv_auth_ui/lib/src/features/setting_page/layouts/deriv_setting_layout.dart
  packages/deriv_auth_ui/lib/src/features/signup/models/deriv_password_policy_model.dart
Owners: @sahani-deriv

fix: change package_info_plus to match packages
  packages/deriv_auth_ui/pubspec.yaml
Owners: @sahani-deriv

chore(deriv_auth_ui):Adding semantics to UI components
  packages/deriv_auth_ui/lib/src/core/helpers/semantic_labels.dart
  packages/deriv_auth_ui/lib/src/features/get_started/layouts/deriv_get_started_layout.dart
  packages/deriv_auth_ui/lib/src/features/login/layouts/deriv_login_layout.dart
  packages/deriv_auth_ui/lib/src/features/reset_pass/layouts/deriv_reset_pass_layout.dart
  packages/deriv_auth_ui/lib/src/features/signup/layouts/deriv_signup_layout.dart
  packages/deriv_ui/lib/presentation/widgets/base_text_field.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: future void callback
  packages/deriv_auth_ui/lib/src/features/setting_page/layouts/deriv_setting_layout.dart
Owners: @sahani-deriv

chore(deriv_auth_ui):Adding semantics to UI components, fixes based on review comments
  packages/deriv_auth_ui/lib/src/core/helpers/semantic_labels.dart
  packages/deriv_auth_ui/lib/src/features/signup/layouts/deriv_signup_layout.dart
Owners: @sahani-deriv

build: integrate melos
  melos.yaml
  pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

export classes need to be used by outside
  packages/deriv_env/lib/deriv_env.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

export BaseEnv class as well
  packages/deriv_env/lib/deriv_env.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_auth_ui):Adding explicitChildNodes: true to Semantics Widgets
  packages/deriv_auth_ui/lib/src/features/get_started/layouts/deriv_get_started_layout.dart
  packages/deriv_auth_ui/lib/src/features/reset_pass/layouts/deriv_reset_pass_layout.dart
  packages/deriv_ui/lib/presentation/widgets/base_text_field.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

test: web socket client
  packages/deriv_web_socket_client/test/web_socket/web_socket_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

format deriv_env.dart
  packages/deriv_env/lib/deriv_env.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

swape names for Env and EnvLoader to reduce the amount of change in the apps using this packagew
  packages/deriv_env/lib/base_env_loader.dart
  packages/deriv_env/lib/deriv_env.dart
  packages/deriv_env/lib/env.dart
  packages/deriv_env/lib/env_loader.dart
  packages/deriv_env/test/env_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

handle exception in bool type
  packages/deriv_env/lib/env_loader.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove duplicate lint rules
  packages/deriv_env/analysis_options.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

define common values as variable in env_test.dart
  packages/deriv_env/test/env_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

P2PS-1839 - [Mobile] - CleverTap Integration
  packages/deriv_rudderstack/CHANGELOG.md
  packages/deriv_rudderstack/README.md
  packages/deriv_rudderstack/android/build.gradle
  packages/deriv_rudderstack/android/src/main/kotlin/com/deriv/deriv_rudderstack/DerivRudderstackPlugin.kt
  packages/deriv_rudderstack/example/android/.gitignore
  packages/deriv_rudderstack/example/android/app/build.gradle
  packages/deriv_rudderstack/example/android/app/src/main/AndroidManifest.xml
  packages/deriv_rudderstack/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_rudderstack/example/android/build.gradle
  packages/deriv_rudderstack/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/deriv_rudderstack/example/ios/Podfile.lock
  packages/deriv_rudderstack/example/pubspec.lock
  packages/deriv_rudderstack/ios/Classes/SwiftDerivRudderstackPlugin.swift
  packages/deriv_rudderstack/ios/deriv_rudderstack.podspec
  packages/deriv_rudderstack/pubspec.lock
  packages/deriv_rudderstack/pubspec.yaml
Owners: @emad-deriv

EOF `.env.example` in `analytics` package
  packages/analytics/example/.env.example
Owners: @waqas-younas-deriv

Removed default dataplane url values
  packages/deriv_rudderstack/android/src/main/kotlin/com/deriv/deriv_rudderstack/DerivRudderstackPlugin.kt
  packages/deriv_rudderstack/ios/Classes/SwiftDerivRudderstackPlugin.swift
Owners: @emad-deriv

ci: integrate github actions
  .github/workflows/all_packages.yaml
  melos.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Change deriv_rudderstack ref in analytics package
  packages/analytics/pubspec.lock
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

build: integrate melos
  melos.yaml
  pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: integrate github actions
  .github/workflows/all_packages.yaml
  .github/workflows/pr_title.yaml
  README.md
  melos.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: code formatting and renaming
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Change rudderstack ref in analytics to dev
  packages/analytics/pubspec.lock
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

fix: cipher failing test
  packages/deriv_env/test/cipher_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: deriv_auth_ui test
  packages/deriv_auth_ui/pubspec.yaml
  packages/deriv_auth_ui/test/core/layouts/deriv_unavailable_country_layout_test.dart
  packages/deriv_auth_ui/test/features/get_started/layouts/deriv_get_started_layout_test.dart
  packages/deriv_auth_ui/test/features/login/layouts/deriv_2fa_layout_test.dart
  packages/deriv_auth_ui/test/features/login/layouts/deriv_login_layout_test.dart
  packages/deriv_auth_ui/test/features/reset_pass/layouts/deriv_choose_new_pass_layout_test.dart
  packages/deriv_auth_ui/test/features/reset_pass/layouts/deriv_reset_pass_layout_test.dart
  packages/deriv_auth_ui/test/features/signup/layouts/deriv_country_selection_layout_test.dart
  packages/deriv_auth_ui/test/features/signup/layouts/deriv_email_not_received_layout_test.dart
  packages/deriv_auth_ui/test/features/signup/layouts/deriv_set_password_layout_test.dart
  packages/deriv_auth_ui/test/features/signup/layouts/deriv_signup_layout_test.dart
  packages/deriv_auth_ui/test/features/signup/layouts/deriv_verification_done_layout_test.dart
  packages/deriv_auth_ui/test/features/signup/layouts/deriv_verify_email_layout_test.dart
  packages/deriv_auth_ui/test/features/signup/models/deriv_auth_utm_model_test.dart
  packages/deriv_auth_ui/test/features/signup/models/deriv_password_policy_model_test.dart
  packages/deriv_auth_ui/test/features/signup/models/deriv_residence_model_test.dart
  packages/deriv_auth_ui/test/features/signup/widgets/country_selection_list_widget_test.dart
  packages/deriv_auth_ui/test/pump_app.dart
Owners: @sahani-deriv

deps: point to dev
  packages/deriv_auth_ui/example/pubspec.yaml
  packages/deriv_auth_ui/pubspec.yaml
Owners: @sahani-deriv

Support dateplane url and update android rudderstack (#329)
  packages/analytics/pubspec.lock
  packages/deriv_rudderstack/CHANGELOG.md
  packages/deriv_rudderstack/README.md
  packages/deriv_rudderstack/android/build.gradle
  packages/deriv_rudderstack/android/src/main/kotlin/com/deriv/deriv_rudderstack/DerivRudderstackPlugin.kt
  packages/deriv_rudderstack/example/android/.gitignore
  packages/deriv_rudderstack/example/android/app/build.gradle
  packages/deriv_rudderstack/example/android/app/src/main/AndroidManifest.xml
  packages/deriv_rudderstack/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_rudderstack/example/android/build.gradle
  packages/deriv_rudderstack/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/deriv_rudderstack/example/ios/Podfile.lock
  packages/deriv_rudderstack/example/pubspec.lock
  packages/deriv_rudderstack/ios/Classes/SwiftDerivRudderstackPlugin.swift
  packages/deriv_rudderstack/ios/deriv_rudderstack.podspec
  packages/deriv_rudderstack/pubspec.yaml
Owners: @waqas-younas-deriv, @emad-deriv

Change rudderstack ref in analytics to rudderstack_kotlin_1_8_22
  packages/analytics/pubspec.lock
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
