Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

New translations app_en.arb (Swahili)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_sw.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

removed print statements
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

minor chore
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

New translations app_en.arb (Chinese Simplified)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Traditional)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

implemented reviewer suggestions
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

fixed test case
  packages/deriv_auth/test/features/auth/cubit/deriv_auth_cubit_test.dart
Owners: @sahani-deriv

minor chore
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

Addition of new export
  packages/deriv_auth/lib/features/single_entry/single_entry.dart
Owners: @sahani-deriv

New translations app_en.arb (German)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_de.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (French)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_fr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Spanish)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_es.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Arabic)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_ar.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Italian)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_it.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Korean)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_ko.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Polish)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_pl.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Russian)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_ru.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Turkish)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_tr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Vietnamese)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_vi.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Bengali)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_bn.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Thai)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_th.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Sinhala)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_si.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Swahili)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_sw.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

added log app open event
  packages/analytics/lib/analytics.dart
  packages/analytics/lib/sdk/firebase/sdk/deriv_firebase_analytics.dart
  packages/analytics/test/firebase/sdk/deriv_firebase_sdk_test.dart
Owners: @waqas-younas-deriv

Modify rudderstack track event
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
  packages/analytics/lib/sdk/rudderstack/sdk/deriv_rudderstack_sdk.dart
  packages/analytics/test/rudderstack/sdk/deriv_rudderstack_sdk_test.dart
Owners: @waqas-younas-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix padding for supporting RTL
  packages/deriv_ui/lib/components/numpad/widgets/number_pad_single_textfield.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

added a flag to allow hiding passkeys button
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_login_layout.dart
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

updated dart version in workflows
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated dart version in workflows
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

reverted dart version in workflows change
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

downgraded patrol finders version
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

Removed unneeded context provider code
  packages/deriv_passkeys/example/ios/Podfile.lock
  packages/deriv_passkeys/ios/Classes/DerivPasskeysManager.swift
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Removed use-material-deisgn
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

update pubspec to latest versions.
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add docs + refactor
  packages/deriv_passkeys/lib/src/core/constants/analytics_actions_enums.dart
  packages/deriv_passkeys/lib/src/core/constants/tracking_event_params_helper.dart
  packages/deriv_passkeys/lib/src/core/extensions/context_extensions.dart
  packages/deriv_passkeys/lib/src/data/repositories/passkey_analytics_repository.dart
  packages/deriv_passkeys/lib/src/presentation/mixins/passkey_event_tracking_mixin.dart
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_bloc.dart
  packages/deriv_passkeys/test/presentation/mixins/passkey_event_tracking_mixin_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Added key to continue with passkeys button
  packages/deriv_passkeys/lib/src/presentation/widgets/continue_with_passkey_button.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_pt.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_ar.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_bn.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_de.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_en.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_es.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_fr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_it.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_ko.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_pl.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_pt.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_ru.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_si.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_sw.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_th.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_tr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_vi.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_zh.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Added p2p strings for passkeys
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_en.arb
  packages/deriv_localizations/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
