Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

New translations app_en.arb (Swahili)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_sw.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ar.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_bn.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_de.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_en.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_es.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_fr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_it.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ko.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_pl.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_pt.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ru.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_si.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_sw.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_th.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_tr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_vi.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_zh.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Arabic)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ar.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (French)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_fr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Spanish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_es.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Italian)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_it.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (German)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_de.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Korean)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ko.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Polish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pl.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Russian)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ru.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Turkish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_tr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Simplified)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Traditional)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Vietnamese)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_vi.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Bengali)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_bn.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Thai)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_th.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Sinhala)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_si.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Swahili)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_sw.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ar.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_bn.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_de.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_es.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_fr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_it.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ko.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_pl.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_pt.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ru.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_si.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_sw.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_th.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_tr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_vi.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_zh.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Simplified)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Traditional)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix optional update issue
  packages/update_checker/lib/src/bloc/update_bloc.dart
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix optional update issue
  packages/update_checker/lib/src/bloc/update_bloc.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_feature_flag): remove env dependancy
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_config.dart
  packages/deriv_feature_flag/lib/growthbook/deriv_growth_book.dart
  packages/deriv_feature_flag/lib/growthbook/growth_book_config.dart
  packages/deriv_feature_flag/pubspec.yaml
  packages/deriv_feature_flag/test/feature_flag/deriv_feature_flag_test.dart
  packages/deriv_feature_flag/test/feature_flag/feature_flag_repository_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_feature_flag): add document to FeatureFlagConfig
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_config.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: migrate to deriv_localizations package
  packages/deriv_auth/example/lib/features/login/pages/login_page.dart
  packages/deriv_auth/example/lib/features/signup/pages/signup_page.dart
  packages/deriv_auth/example/lib/main.dart
  packages/deriv_auth/lib/core/extensions/context_extension.dart
  packages/deriv_auth/lib/generated/intl/messages_all.dart
  packages/deriv_auth/lib/generated/intl/messages_en.dart
  packages/deriv_auth/lib/generated/l10n.dart
  packages/deriv_auth/lib/l10n/intl_en.arb
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/base_test_app.dart
Owners: @sahani-deriv

New translations app_en.arb (Thai)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_th.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

- add find proxy dependency - create ProxyAwareHttpClient
  packages/deriv_http_client/lib/src/http_client.dart
  packages/deriv_http_client/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

make deriv_webview proxy aware
  packages/deriv_web_view/lib/helper.dart
  packages/deriv_web_view/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

use ProxyAwareHttpClient instead from deriv_http_client
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

use ProxyAwareHttpClient instead from deriv_http_client in deriv_web_view as well
  packages/deriv_web_view/lib/helper.dart
  packages/deriv_web_view/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

create ProxyAwareHttpClient
  packages/deriv_http_client/lib/src/http_client.dart
  packages/deriv_http_client/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

user ProxyAwareHttpClient in deriv_auth
  packages/deriv_auth/lib/core/services/token/services/base_token_service.dart
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/core/services/token/services/deriv_token_service_test.dart
  packages/deriv_auth/test/features/auth/service/deriv_auth_service_test.dart
  packages/deriv_web_view/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

use ProxyAwareHttpClient in deriv_web_view
  packages/deriv_web_view/lib/helper.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
