Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

add possibility to change Growthbook host url from outside
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
  packages/deriv_feature_flag/lib/growthbook/deriv_growth_book.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add grouped_list_view
  packages/deriv_ui/README.md
  packages/deriv_ui/example/lib/grouped_list_view/main.dart
  packages/deriv_ui/lib/components/components.dart
  packages/deriv_ui/lib/components/grouped_list_view/README.md
  packages/deriv_ui/lib/components/grouped_list_view/core/grouped_list_view_controller.dart
  packages/deriv_ui/lib/components/grouped_list_view/core/grouped_list_view_order.dart
  packages/deriv_ui/lib/components/grouped_list_view/grouped_list_view.dart
  packages/deriv_ui/lib/components/grouped_list_view/widgets/grouped_list_view.dart
  packages/deriv_ui/test/components/grouped_list_view/widgets/grouped_list_view_data.dart
  packages/deriv_ui/test/components/grouped_list_view/widgets/grouped_list_view_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth): remove one all implementation from ui and deprecate old social login
  packages/deriv_auth/lib/features/auth/deriv_auth_io.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_state.dart
  packages/deriv_auth/lib/features/social_auth/helpers/social_web_view_helper.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
Owners: @sahani-deriv

feat(deriv_auth)!: add webview logic for social login
  packages/deriv_auth/analysis_options.yaml
  packages/deriv_auth/docs/auth_error_handler.md
  packages/deriv_auth/lib/deriv_auth.dart
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_login_layout.dart
  packages/deriv_auth/lib/features/login/presentation/widgets/deriv_social_auth_panel.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_signup_layout.dart
  packages/deriv_auth/lib/features/social_auth/helpers/social_web_view_helper.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_divider.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
  packages/deriv_auth/lib/features/social_auth/services/base_social_auth_service.dart
  packages/deriv_auth/lib/features/social_auth/social_auth.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/features/login/presentation/layouts/deriv_login_layout_test.dart
  packages/deriv_auth/test/features/signup/presentation/layouts/deriv_signup_layout_test.dart
  packages/deriv_web_view/lib/deriv_web_view.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth): update social auth logic
  packages/deriv_auth/example/lib/features/login/pages/login_page.dart
  packages/deriv_auth/example/lib/features/signup/pages/signup_page.dart
  packages/deriv_auth/lib/core/states/auth_error_state_handler.dart
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_login_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_signup_layout.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/helpers/social_web_view_helper.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
  packages/deriv_auth/test/features/login/presentation/layouts/deriv_login_layout_test.dart
  packages/deriv_auth/test/features/signup/presentation/layouts/deriv_signup_layout_test.dart
Owners: @sahani-deriv

fix(deriv_auth): 2fa login
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_2fa_layout.dart
Owners: @sahani-deriv

fix(deriv_auth): ui fixes
  packages/deriv_auth/lib/core/states/auth_error_state_handler.dart
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_2fa_layout.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_reset_pass_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_signup_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_verify_email_layout.dart
  packages/deriv_auth/lib/generated/intl/messages_en.dart
  packages/deriv_auth/lib/generated/l10n.dart
  packages/deriv_auth/lib/l10n/intl_en.arb
Owners: @sahani-deriv

reafctor(deriv_auth): make `SocialWebViewService` nullable
  packages/deriv_auth/analysis_options.yaml
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_state.dart
  packages/deriv_auth/lib/features/social_auth/helpers/social_web_view_helper.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
  packages/deriv_auth/lib/features/social_auth/services/base_social_auth_service.dart
  packages/deriv_auth/lib/features/social_auth/services/social_web_view_service.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_web_view/lib/deriv_web_view.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Revert "fix(deriv_auth): ui fixes"
  packages/deriv_auth/lib/core/states/auth_error_state_handler.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_reset_pass_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_signup_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_verify_email_layout.dart
  packages/deriv_auth/lib/generated/intl/messages_en.dart
  packages/deriv_auth/lib/generated/l10n.dart
  packages/deriv_auth/lib/l10n/intl_en.arb
Owners: @sahani-deriv

test(deriv_auth): add unit tests for new changes
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/services/base_social_web_view_service.dart
  packages/deriv_auth/lib/features/social_auth/services/social_web_view_service.dart
  packages/deriv_auth/lib/features/social_auth/social_auth.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/features/login/presentation/layouts/deriv_login_layout_test.dart
  packages/deriv_auth/test/features/signup/presentation/layouts/deriv_set_password_layout_test.dart
  packages/deriv_auth/test/features/signup/presentation/layouts/deriv_signup_layout_test.dart
  packages/deriv_auth/test/features/social_auth/cubit/social_auth_cubit_test.dart
  packages/deriv_auth/test/mocks.dart
Owners: @sahani-deriv

revert(deriv_auth): error state handler changes
  packages/deriv_auth/lib/core/states/auth_error_state_handler.dart
Owners: @sahani-deriv

refactor(deriv_auth): remove loading state from select social login
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
Owners: @sahani-deriv

chore(deriv_auth): fix imports
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
Owners: @sahani-deriv

fix(deriv_auth): localCurrency issue
  packages/deriv_auth/lib/core/models/authorize_model.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Arabic)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ar.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (French)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_fr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Spanish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_es.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (German)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_de.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Italian)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_it.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Korean)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ko.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Polish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pl.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Russian)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ru.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Turkish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_tr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Simplified)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Vietnamese)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_vi.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Bengali)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_bn.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Thai)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_th.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Sinhala)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_si.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Swahili)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_sw.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Arabic)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ar.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (French)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_fr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Spanish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_es.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (German)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_de.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Italian)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_it.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Korean)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ko.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Polish)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pl.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Russian)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_ru.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
