Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

add glowing container widget
  packages/deriv_ui/lib/widgets/glowing_container.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

expose glowing container widget
  packages/deriv_ui/lib/widgets/widgets.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change deriv auth
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

change passkey
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

change passkey
  packages/deriv_auth/pubspec.yaml
  packages/deriv_passkeys/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change passkey
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

feat(deriv_ui): add deriv bottom sheet
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/chart_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/models/indicator_item_model.dart
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
  packages/deriv_ui/lib/components/components.dart
  packages/deriv_ui/lib/widgets/custom_draggable_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_mobile_chart_wrapper): add indicator description
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change language selector
  packages/deriv_language_selector/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change language selector in auth
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

RSI setting page
  packages/deriv_mobile_chart_wrapper/lib/src/indicators/rsi_setting_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

rollback changes in pubspec of chart wrapper
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove widget from wrapper
  packages/deriv_mobile_chart_wrapper/lib/src/indicators/rsi_setting_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add on tap to bottom sheet back button
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add height to chart bottom sheet
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/chart_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add indicator description
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/chart_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/models/indicator_item_model.dart
  packages/deriv_ui/lib/components/bottom_sheet/deriv_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: replace abbrevation with localised name
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

adding marquee and glowing expansion panel to list of core widgets
  packages/deriv_ui/lib/widgets/glowing_expansion_panel_list.dart
  packages/deriv_ui/lib/widgets/marquee.dart
  packages/deriv_ui/lib/widgets/widgets.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

renaming
  packages/deriv_ui/lib/components/numpad/widgets/number_pad_key_item.dart
  packages/deriv_ui/lib/components/numpad/widgets/number_pad_keypad.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updated the naming for multiTokenLogin
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/deriv_auth_io.dart
Owners: @sahani-deriv

updated naming and documentation for mutiAuthorize
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/deriv_auth_io.dart
Owners: @sahani-deriv

added optional multi token for login
  packages/deriv_auth/example/lib/features/login/services/example_login_service.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/deriv_auth_io.dart
  packages/deriv_auth/lib/features/auth/services/base_auth_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

wip: bolinger bands settings page
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/color_selector.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/glowing_container.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_settings_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/bb_settings_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor: move indicators to init state
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor: move indicators to did change dep
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_description_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add deriv show modal bottomsheet
  packages/deriv_ui/lib/components/bottom_sheet/helper.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add value selector to deriv ui
  packages/deriv_ui/lib/components/components.dart
  packages/deriv_ui/lib/components/value_selector/value_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

wip: bb settings page
  packages/deriv_mobile_chart_wrapper/lib/src/pages/bb_settings_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: analysis issue
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/color_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

made useMultiToken default to false
  packages/deriv_auth/example/lib/features/login/services/example_login_service.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/deriv_auth_io.dart
  packages/deriv_auth/lib/features/auth/services/base_auth_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

add a list empty check when getting defaultAccountID
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

code optimization
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

improve value selector functionalities
  packages/deriv_ui/lib/components/value_selector/value_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Remove stake from comments
  packages/deriv_ui/lib/components/value_selector/value_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

-revert pubspec changes. - change in glowing container
  packages/deriv_auth/pubspec.yaml
  packages/deriv_ui/lib/widgets/glowing_container.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

wip
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_settings_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/pages/bb_settings_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add indicator setting bottomsheet
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/indicator_settings_bottom_sheet.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
