Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

add the changes on the old auth changes
  packages/deriv_auth/example/lib/features/login/repositories/example_login_repository.dart
  packages/deriv_auth/example/lib/main.dart
  packages/deriv_auth/lib/core/services/jwt/repository/deriv_jwt_repository.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/test/core/services/jwt/repository/deriv_jwt_repository_test.dart
Owners: @sahani-deriv

chore: rename IndicatoEventService class to TrackingEventService
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/indicator_event_service.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: rename TrackingEventService class ChartEventTracker
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/indicator_event_service.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update .gitignore
  packages/deriv_cipher/.gitignore
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert dependencies + refactor
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tools_selector.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update ref
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: show title and category in english and fix empty category
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: delete different subform
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
  packages/deriv_mobile_chart_wrapper/lib/src/indicator_event_service.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
Owners: @waqas-younas-deriv, @ramin-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

upgrade dependencies to fix version conflicts :arrow_up:
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_http_client/pubspec.yaml
  packages/deriv_logger/example/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_rudderstack/example/pubspec.lock
  packages/deriv_rudderstack/pubspec.lock
  packages/deriv_theme/pubspec.lock
  packages/deriv_widgetbook/pubspec.yaml
  packages/update_checker/pubspec.lock
  pubspec.lock
Owners: @sahani-deriv, @emad-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv

upgrade flutter_system_proxy dep
  packages/deriv_http_client/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update deriv_api dep
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove unnecessary changes
  packages/deriv_expandable_bottom_sheet/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_grouped_listview/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_http_client/build/unit_test_assets/AssetManifest.bin
  packages/deriv_http_client/build/unit_test_assets/AssetManifest.json
  packages/deriv_http_client/build/unit_test_assets/FontManifest.json
  packages/deriv_http_client/build/unit_test_assets/NOTICES.Z
  packages/deriv_http_client/build/unit_test_assets/shaders/ink_sparkle.frag
  packages/deriv_local_feature_flag/.gitignore
  packages/deriv_ui/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove unnecessary changes
  packages/deriv_local_feature_flag/.metadata
  packages/deriv_local_feature_flag/CHANGELOG.md
  packages/deriv_local_feature_flag/LICENSE
  packages/deriv_local_feature_flag/README.md
  packages/deriv_local_feature_flag/analysis_options.yaml
  packages/deriv_local_feature_flag/lib/deriv_local_feature_flag.dart
  packages/deriv_local_feature_flag/lib/src/feature_flag_service/local_feature_flag_setting_service.dart
  packages/deriv_local_feature_flag/lib/src/feature_flag_service/remote_feature_flag_setting_service.dart
  packages/deriv_local_feature_flag/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove unnecessary changes
  packages/deriv_expandable_bottom_sheet/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_grouped_listview/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove unnecessary changes
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update gitignore file
  packages/deriv_rudderstack/.gitignore
  packages/deriv_theme/.gitignore
Owners: @emad-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv

remove unnecessary changes
  packages/deriv_rudderstack/pubspec.lock
  packages/deriv_theme/pubspec.lock
Owners: @emad-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv

remove unnecessary changes
  packages/deriv_rudderstack/pubspec.lock
  packages/deriv_theme/pubspec.lock
Owners: @emad-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv

remove unnecessary changes
  packages/deriv_rudderstack/pubspec.lock
Owners: @emad-deriv

update package_info_plus dep
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update some depedencies
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

update package_info_plus dep in update_checker :arrow_up:"
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

upgrade intl version
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_widgetbook/pubspec.yaml
Owners: @emad-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update firebase dep in update_checker
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update firebase in deriv_app_performance
  packages/deriv_app_performance/pubspec.yaml
Owners: @waqas-younas-deriv

refactor(deriv_http_client): upgrade flutter_system_proxy dep (#854)
  packages/deriv_http_client/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#855)
  CHANGELOG.md
  README.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_http_client/CHANGELOG.md
  packages/deriv_http_client/pubspec.yaml
  packages/deriv_language_selector/CHANGELOG.md
  packages/deriv_language_selector/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/CHANGELOG.md
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_ui/CHANGELOG.md
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_view/CHANGELOG.md
  packages/deriv_web_view/pubspec.yaml
  packages/deriv_widgetbook/CHANGELOG.md
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_date_range_picker): iupgrade intl version (#859)
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_widgetbook/pubspec.yaml
Owners: @emad-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv

chore(version): bump version and update changelog (#857)
  CHANGELOG.md
  README.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_http_client/CHANGELOG.md
  packages/deriv_http_client/pubspec.yaml
  packages/deriv_language_selector/CHANGELOG.md
  packages/deriv_language_selector/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/CHANGELOG.md
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_ui/CHANGELOG.md
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_view/CHANGELOG.md
  packages/deriv_web_view/pubspec.yaml
  packages/deriv_widgetbook/CHANGELOG.md
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): update deriv_api dep (#856)
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_auth)!: [DRGO-1247] update some depedencies (#858)
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/update_checker/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#861)
  CHANGELOG.md
  README.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/update_checker/CHANGELOG.md
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#860)
  CHANGELOG.md
  README.md
  packages/deriv_date_range_picker/CHANGELOG.md
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/CHANGELOG.md
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_numpad/CHANGELOG.md
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_widgetbook/CHANGELOG.md
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update logEvent method param
  packages/analytics/lib/sdk/firebase/sdk/deriv_firebase_analytics.dart
Owners: @waqas-younas-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
