Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

update readme
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add language parameter to needed classes
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/helper.dart
  packages/deriv_web_view/lib/models/pta_login_request_model.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add local deriv ui to all dependant packages that needs web view
  packages/deriv_auth/pubspec.yaml
  packages/deriv_ui/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change passkey deriv ui
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change passkey deriv ui in deriv auth
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

change language selector to PR
  packages/deriv_auth/pubspec.yaml
  packages/deriv_language_selector/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

added tokenLogin changes
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

added a print statement
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

test route
  packages/deriv_auth/lib/features/single_entry/features/reset_pass/pages/reset_pass_success_page.dart
Owners: @sahani-deriv

test navigation
  packages/deriv_auth/lib/features/single_entry/features/reset_pass/pages/reset_pass_success_page.dart
Owners: @sahani-deriv

Increased iOS support to 16
  packages/deriv_passkeys/example/ios/Podfile.lock
  packages/deriv_passkeys/ios/Classes/DerivPasskeysManager.swift
  packages/deriv_passkeys/ios/Classes/DerivPasskeysPlugin.swift
  packages/deriv_passkeys/ios/Classes/PublicKeyCredentialRequestOptions.swift
  packages/deriv_passkeys/ios/deriv_passkeys.podspec
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add isSupported parameter to LoadedState.
  packages/deriv_passkeys/ios/Classes/DerivPasskeysManager.swift
  packages/deriv_passkeys/ios/Classes/DerivPasskeysPlugin.swift
  packages/deriv_passkeys/ios/Classes/PublicKeyCredentialRequestOptions.swift
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_bloc.dart
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_state.dart
  packages/deriv_passkeys/test/presentation/states/bloc/deriv_passkeys_state_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add docs.
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_bloc.dart
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_state.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add real account sign up logs for Rudderstack
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

added a print statement
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix passkey strings
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_en.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_en.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add user tracking events.
  packages/deriv_passkeys/lib/src/core/constants/analytics_actions_enums.dart
  packages/deriv_passkeys/lib/src/core/constants/tracking_event_params_helper.dart
  packages/deriv_passkeys/lib/src/core/extensions/context_extensions.dart
  packages/deriv_passkeys/lib/src/data/repositories/passkey_analytics_repository.dart
  packages/deriv_passkeys/lib/src/domain/base_repositories/base_passkey_analytics_repository.dart
  packages/deriv_passkeys/lib/src/presentation/mixins/passkey_event_tracking_mixin.dart
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/learn_more_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/manage_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/passkey_created_page.dart
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_bloc.dart
  packages/deriv_passkeys/lib/src/presentation/utils/handle_errors_utils.dart
  packages/deriv_passkeys/lib/src/presentation/utils/platform_utils.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_created_call_to_action.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_widget.dart
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_passkeys/test/core/constants/tracking_event_params_helper_test.dart
  packages/deriv_passkeys/test/data/passkey_analytics_repository_test.dart
  packages/deriv_passkeys/test/presentation/mixins/passkey_event_tracking_mixin_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update source file app_en.arb
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_en.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Portuguese)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_pt.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (German)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_de.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (French)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_fr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Spanish)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_es.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Arabic)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_ar.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Italian)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_it.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Korean)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_ko.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Polish)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_pl.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Russian)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_ru.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Turkish)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_tr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Simplified)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Simplified)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Traditional)
  packages/deriv_localizations/lib/l10n/deriv_auth/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Chinese Traditional)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_zh.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Vietnamese)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_vi.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Bengali)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_bn.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Thai)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_th.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

New translations app_en.arb (Sinhala)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_si.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
