Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update deriv-api in auth
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

chore(version): version bump (#976)
  CHANGELOG.md
  README.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_auth): Removed 'partner' from the list of supported accounts (#974)
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_auth/lib/core/extensions/account_extensions.dart
  packages/deriv_auth/lib/core/models/account_model.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#977)
  CHANGELOG.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: update dependencies to the latest release.
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

feat: update a dependency(flutter_bloc) to the latest release.
  packages/deriv_web_view/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: update dependencies to the latest release.
  packages/update_checker/.gitignore
  packages/update_checker/example/.gitignore
  packages/update_checker/example/pubspec.yaml
  packages/update_checker/pubspec.lock
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(analytics): update dependencies to the latest release (#979)
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#982)
  CHANGELOG.md
  README.md
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(update_checker): update dependencies to the latest release (#978)
  packages/update_checker/.gitignore
  packages/update_checker/example/.gitignore
  packages/update_checker/example/pubspec.yaml
  packages/update_checker/pubspec.lock
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/update_checker/CHANGELOG.md
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#983)
  CHANGELOG.md
  README.md
  packages/update_checker/CHANGELOG.md
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: minor fix and reduced warning logs
  packages/deriv_app_performance/lib/src/data/datasources/firebase_performance_datasource.dart
  packages/deriv_app_performance/lib/src/data/datasources/mock_performance_datasource.dart
  packages/deriv_app_performance/lib/src/data/repositories/firebase_performance_repository_impl.dart
  packages/deriv_app_performance/lib/src/data/repositories/performance_repository_impl.dart
  packages/deriv_app_performance/lib/src/domain/repositories/performance_repository.dart
  packages/deriv_app_performance/lib/src/domain/usecases/trace_manager.dart
  packages/deriv_app_performance/test/src/data/repositories/firebase_performance_repository_impl_test.dart
  packages/deriv_app_performance/test/src/domain/usecases/trace_manager_test.dart
Owners: @waqas-younas-deriv

feat: add RudderStack events for withdrawal module
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

fix: consistent naming of withdrawal events
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/deriv_app_performance/CHANGELOG.md
  packages/deriv_app_performance/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#985)
  CHANGELOG.md
  packages/deriv_app_performance/CHANGELOG.md
  packages/deriv_app_performance/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: Refactor `isSvgAccount` to improve SVG account detection
  packages/deriv_auth/lib/core/extensions/account_extensions.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
  packages/deriv_auth/test/features/reset_password/presentation/layouts/deriv_reset_pass_layout_test.dart
Owners: @sahani-deriv

fix: set the default account type in NewVirtualAccountRequestModel to 'dynamic' to support the wallet signup use case.
  packages/deriv_auth/lib/features/signup/models/new_virtual_account_request_model.dart
  packages/deriv_auth/test/features/signup/mock/signup_mock_data.dart
Owners: @sahani-deriv

feat(analytics): add RudderStack events for withdrawal module (#984)
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): bump version and update changelog (#987)
  CHANGELOG.md
  README.md
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: setup claude code review workflow
  .github/workflows/claude_code_review.yml
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: implement fallback checkout for PRs from forks
  .github/workflows/claude_code_review.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: implement fallback checkout for PRs from forks
  .github/workflows/claude_code_review.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: restrict Claude Code Review to trusted contributors
  .github/workflows/claude_code_review.yml
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: fix PR number extraction for forked repository comments
  .github/workflows/claude_code_review.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: added github_token ref in claude_code_review.yml
  .github/workflows/claude_code_review.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

test: workflow
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: claude code workflow
  .github/workflows/claude_code_review.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

test: workflow
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
