Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

update podspec with latest version of deriv-live-chat
  packages/deriv_live_chat/ios/deriv_live_chat.podspec
Owners: @ramin-deriv, @ahrar-deriv

refactor(deriv_passkeys): updated deriv_localizations
  packages/deriv_passkeys/example/lib/main.dart
  packages/deriv_passkeys/example/pubspec.yaml
  packages/deriv_passkeys/lib/src/presentation/widgets/continue_with_passkey_button.dart
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_passkeys/test/presentation/widgets/continue_with_passkey_button_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs(deriv_passkeys): updated example app README
  packages/deriv_passkeys/example/README.md
  packages/deriv_passkeys/example/lib/main.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): removed temp_send_error_request.dart
  packages/deriv_passkeys/lib/src/data/data_sources/deriv_passkeys_data_source.dart
  packages/deriv_passkeys/lib/src/data/data_sources/temp_send_error_request.dart
  packages/deriv_passkeys/lib/src/data/platform/deriv_passkeys_method_channel.dart
  packages/deriv_passkeys/lib/src/interactor/services/deriv_passkeys_service.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refacotor(deriv_passkeys): added SingleChildScrollView to fix overflow in EffortlessPasskeysPage
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): moved platformName logic to a shared utils file
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/learn_more_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/manage_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/passkey_created_page.dart
  packages/deriv_passkeys/lib/src/presentation/utils/platform_utils.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_en.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_localizations): added a string for deriv_passkeys package
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_en.arb
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): updated deriv_localizations
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): moved error handeling logic to a shared file
  packages/deriv_passkeys/lib/src/presentation/pages/learn_more_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/manage_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/utils/handle_errors_utils.dart
  packages/deriv_passkeys/lib/src/presentation/utils/platform_utils.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/continue_with_passkey_button.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/passkey_widget.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

style(deriv_passkeys): format MainActivity.kt in example app
  packages/deriv_passkeys/example/android/app/src/main/kotlin/com/example/passkeys_poc/MainActivity.kt
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): updated deriv_localizations in example app
  packages/deriv_passkeys/example/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_localizations): updated intl version
  packages/deriv_localizations/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert(deriv_localizations): reverted intl version update to 0.18.0
  packages/deriv_localizations/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): removed unused form_validation from example app
  .gitignore
  packages/deriv_passkeys/example/pubspec.yaml
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add key to language swicher
  packages/deriv_ui/lib/components/language_selector/widgets/language_selector_widget.dart
  packages/deriv_ui/lib/components/language_selector/widgets/widget_keys.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update the dependency and files
  packages/deriv_language_selector/lib/src/helpers/language_bottom_sheet_helper.dart
  packages/deriv_language_selector/lib/src/helpers/widget_keys.dart
  packages/deriv_language_selector/lib/src/presentation/widgets/language_selector.dart
  packages/deriv_language_selector/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove the widget key file from the project
  packages/deriv_ui/lib/components/language_selector/widgets/language_selector_widget.dart
  packages/deriv_ui/lib/components/language_selector/widgets/widget_keys.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): updated deriv_ui
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): removed unsused imports
  packages/deriv_passkeys/lib/src/extensions/context_extensions.dart
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/learn_more_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/manage_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/widgets/continue_with_passkey_button.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add the appropriate comment to yaml file
  packages/deriv_language_selector/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Addition of reference in yaml
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

test adding keys to the list
  packages/deriv_language_selector/lib/src/helpers/widget_keys.dart
  packages/deriv_language_selector/lib/src/presentation/widgets/language_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add key to the language item list
  packages/deriv_ui/lib/components/language_selector/widgets/language_item_list.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update the pubspec file with keys for language item list
  packages/deriv_language_selector/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Adding context for navigation upon callback
  packages/deriv_ui/lib/widgets/app_setting_gesture_detector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

test passing the scaffold
  packages/deriv_language_selector/lib/src/presentation/widgets/language_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

updating settings gesture detector
  packages/deriv_ui/lib/widgets/app_setting_gesture_detector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add size to language selector
  packages/deriv_language_selector/lib/src/presentation/widgets/language_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove the extra changes
  packages/deriv_language_selector/lib/src/presentation/widgets/language_selector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_passkeys): fixed state not going back to loaded after error in create passkeys
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_bloc.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: update lint rules
  packages/deriv_lint/lib/analysis_options.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_en.arb
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_en.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_localizations): reverted small change in Localizations classes
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_en.arb
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_en.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_localizations): made Localizations classes non nullable
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): updating error message for when passkeys backend service is disabled
  packages/deriv_passkeys/lib/src/data/data_sources/deriv_passkeys_data_source.dart
  packages/deriv_passkeys/lib/src/extensions/context_extensions.dart
  packages/deriv_passkeys/lib/src/presentation/states/bloc/deriv_passkeys_bloc.dart
  packages/deriv_passkeys/lib/src/presentation/utils/handle_errors_utils.dart
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): removed all print statements.
  packages/deriv_passkeys/lib/src/presentation/utils/handle_errors_utils.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

start
  packages/deriv_auth/example/lib/features/login/pages/login_page.dart
  packages/deriv_auth/example/lib/features/reset_pass/pages/reset_pass_page.dart
  packages/deriv_auth/example/lib/features/settings/pages/settings_page.dart
  packages/deriv_auth/example/pubspec.yaml
Owners: @sahani-deriv
