Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

refactor: move regex_helper func to deriv_ui
  packages/deriv_auth_ui/lib/src/core/helpers/regex_helper.dart
  packages/deriv_auth_ui/lib/src/features/setting_page/layouts/deriv_setting_layout.dart
  packages/deriv_auth_ui/pubspec.yaml
  packages/deriv_ui/lib/utils/regex_helpers.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update README.md file
  packages/deriv_env/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add invalidate and copyValuesFrom to AbstractEMAIndicator
  packages/deriv_technical_analysis/lib/src/indicators/calculations/ema_indicator.dart
Owners: @ramin-deriv

ci: add version step
  .github/workflows/version.yml
  .gitignore
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: remove sahani repo from yaml files
  packages/deriv_auth_ui/example/pubspec.yaml
  packages/deriv_auth_ui/pubspec.yaml
Owners: @sahani-deriv

fix: deriv_auth_ui pubspec
  packages/deriv_auth_ui/example/pubspec.yaml
  packages/deriv_auth_ui/pubspec.yaml
Owners: @sahani-deriv

fix: remove appEnv related to deriv ez
  packages/deriv_auth_ui/lib/src/features/setting_page/layouts/deriv_setting_layout.dart
Owners: @sahani-deriv

fix: revert back the appEnv and change the comment
  packages/deriv_auth_ui/lib/src/features/setting_page/layouts/deriv_setting_layout.dart
Owners: @sahani-deriv

chore: stable version
  .gitignore
  flutter_architecture_poc/example/pubspec.yaml
  packages/deriv_app_performance/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth_ui/example/pubspec.yaml
  packages/deriv_auth_ui/pubspec.yaml
  packages/deriv_banner/pubspec.yaml
  packages/deriv_bloc_manager/pubspec.yaml
  packages/deriv_datadog/example/pubspec.yaml
  packages/deriv_datadog/pubspec.yaml
  packages/deriv_date_range_picker/example/pubspec.yaml
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_env/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/example/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/pubspec.yaml
  packages/deriv_grouped_listview/example/pubspec.yaml
  packages/deriv_grouped_listview/pubspec.yaml
  packages/deriv_live_chat/example/pubspec.yaml
  packages/deriv_live_chat/pubspec.yaml
  packages/deriv_numpad/example/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_rudderstack/pubspec.yaml
  packages/deriv_store_launcher/pubspec.yaml
  packages/deriv_technical_analysis/pubspec.yaml
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_view/pubspec.yaml
  packages/form_builder/example/pubspec.yaml
  packages/form_builder/pubspec.yaml
  packages/update_checker/example/pubspec.yaml
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

ci: fix checkout
  .github/workflows/version.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: enable flutter cache
  .github/workflows/version.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci:minor update
  .github/workflows/version.yml
  pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove breaking change by making the laod method deprecated
  packages/deriv_env/lib/base_env_loader.dart
  packages/deriv_env/lib/env.dart
  packages/deriv_env/lib/env_loader.dart
  packages/deriv_env/test/env_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update CHANGELOG.md
  packages/deriv_env/CHANGELOG.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

udpate README.md file
  packages/deriv_env/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add user agent to get user tokens request header
  packages/deriv_auth/lib/core/services/token/services/base_token_service.dart
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/base_auth_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/core/services/token/services/deriv_token_service_test.dart
  packages/deriv_auth/test/features/auth/cubit/deriv_auth_cubit_test.dart
  packages/deriv_auth/test/features/auth/service/deriv_auth_service_test.dart
Owners: @sahani-deriv

deps: update dependencies
  .gitignore
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth_ui/example/pubspec.yaml
  packages/deriv_auth_ui/pubspec.yaml
  packages/deriv_banner/example/pubspec.yaml
  packages/deriv_banner/pubspec.yaml
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/pubspec.yaml
  packages/deriv_live_chat/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_store_launcher/example/pubspec.yaml
  packages/deriv_store_launcher/pubspec.yaml
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_view/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: refine versioning step
  .github/workflows/version.yml
  melos.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/analytics/CHANGELOG.md
  packages/deriv_app_performance/CHANGELOG.md
  packages/deriv_bloc_manager/CHANGELOG.md
  packages/deriv_datadog/CHANGELOG.md
  packages/deriv_dependency_injector/CHANGELOG.md
  packages/deriv_env/CHANGELOG.md
  packages/deriv_grouped_listview/CHANGELOG.md
  packages/deriv_http_client/CHANGELOG.md
  packages/deriv_lint/CHANGELOG.md
  packages/deriv_rudderstack/CHANGELOG.md
  packages/deriv_technical_analysis/CHANGELOG.md
  packages/deriv_theme/CHANGELOG.md
  packages/deriv_theme/pubspec.yaml
  packages/deriv_web_socket_client/CHANGELOG.md
  packages/form_builder/CHANGELOG.md
  packages/update_checker/CHANGELOG.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

make user agent parameter optional and fix tests
  packages/deriv_auth/lib/core/services/token/services/base_token_service.dart
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/base_auth_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
  packages/deriv_auth/test/core/services/token/services/deriv_token_service_test.dart
  packages/deriv_auth/test/features/auth/cubit/deriv_auth_cubit_test.dart
  packages/deriv_auth/test/features/auth/service/deriv_auth_service_test.dart
Owners: @sahani-deriv

fix: melos config
  melos.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Revert "chore(release): publish packages"
  CHANGELOG.md
  packages/analytics/CHANGELOG.md
  packages/deriv_app_performance/CHANGELOG.md
  packages/deriv_bloc_manager/CHANGELOG.md
  packages/deriv_datadog/CHANGELOG.md
  packages/deriv_dependency_injector/CHANGELOG.md
  packages/deriv_env/CHANGELOG.md
  packages/deriv_grouped_listview/CHANGELOG.md
  packages/deriv_http_client/CHANGELOG.md
  packages/deriv_lint/CHANGELOG.md
  packages/deriv_rudderstack/CHANGELOG.md
  packages/deriv_technical_analysis/CHANGELOG.md
  packages/deriv_theme/CHANGELOG.md
  packages/deriv_theme/pubspec.yaml
  packages/deriv_web_socket_client/CHANGELOG.md
  packages/form_builder/CHANGELOG.md
  packages/update_checker/CHANGELOG.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

chore: stable version
  flutter_architecture_poc/example/pubspec.yaml
  packages/deriv_app_performance/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth_ui/example/pubspec.yaml
  packages/deriv_auth_ui/pubspec.yaml
  packages/deriv_banner/pubspec.yaml
  packages/deriv_bloc_manager/pubspec.yaml
  packages/deriv_datadog/example/pubspec.yaml
  packages/deriv_datadog/pubspec.yaml
  packages/deriv_date_range_picker/example/pubspec.yaml
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_env/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/example/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/pubspec.yaml
  packages/deriv_grouped_listview/example/pubspec.yaml
  packages/deriv_grouped_listview/pubspec.yaml
  packages/deriv_live_chat/example/pubspec.yaml
  packages/deriv_live_chat/pubspec.yaml
  packages/deriv_numpad/example/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_rudderstack/pubspec.yaml
  packages/deriv_store_launcher/pubspec.yaml
  packages/deriv_technical_analysis/pubspec.yaml
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_view/pubspec.yaml
  packages/form_builder/example/pubspec.yaml
  packages/form_builder/pubspec.yaml
  packages/update_checker/example/pubspec.yaml
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

chore: publish packages
  CHANGELOG.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth_ui/pubspec.yaml
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/CHANGELOG.md
  packages/deriv_expandable_bottom_sheet/pubspec.yaml
  packages/deriv_grouped_listview/CHANGELOG.md
  packages/deriv_http_client/CHANGELOG.md
  packages/deriv_lint/CHANGELOG.md
  packages/deriv_live_chat/CHANGELOG.md
  packages/deriv_numpad/CHANGELOG.md
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_rudderstack/CHANGELOG.md
  packages/deriv_store_launcher/CHANGELOG.md
  packages/deriv_technical_analysis/CHANGELOG.md
  packages/deriv_theme/CHANGELOG.md
  packages/deriv_ui/CHANGELOG.md
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_socket_client/CHANGELOG.md
  packages/deriv_web_view/CHANGELOG.md
  packages/form_builder/CHANGELOG.md
  packages/update_checker/CHANGELOG.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @reze-deriv

chore: clean changelog
  CHANGELOG.md
  packages/deriv_expandable_bottom_sheet/CHANGELOG.md
  packages/deriv_grouped_listview/CHANGELOG.md
  packages/deriv_http_client/CHANGELOG.md
  packages/deriv_lint/CHANGELOG.md
  packages/deriv_live_chat/CHANGELOG.md
  packages/deriv_numpad/CHANGELOG.md
  packages/deriv_rudderstack/CHANGELOG.md
  packages/deriv_store_launcher/CHANGELOG.md
  packages/deriv_technical_analysis/CHANGELOG.md
  packages/deriv_theme/CHANGELOG.md
  packages/deriv_ui/CHANGELOG.md
  packages/deriv_web_socket_client/CHANGELOG.md
  packages/deriv_web_view/CHANGELOG.md
  packages/form_builder/CHANGELOG.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @reze-deriv

chore: revert changelog changes
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_numpad/CHANGELOG.md
  packages/form_builder/CHANGELOG.md
  packages/update_checker/CHANGELOG.md
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @reze-deriv

chore: change auth ui example app ref
  packages/deriv_auth_ui/example/pubspec.yaml
Owners: @sahani-deriv

ci: git actions for versioning
  .github/workflows/version.yaml
  pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_auth): add user agent
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/base_auth_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
  packages/deriv_auth/test/features/auth/cubit/deriv_auth_cubit_test.dart
  packages/deriv_auth/test/features/auth/service/deriv_auth_service_test.dart
Owners: @sahani-deriv

feat(deriv_auth)add user agent to get user tokens request header
  packages/deriv_auth/lib/core/services/token/services/base_token_service.dart
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
Owners: @sahani-deriv

fix(deriv_auth): User-Agent typo
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
Owners: @sahani-deriv

fix(deriv_auth): add missing parameter
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
Owners: @sahani-deriv

Update dimens.dart
  packages/deriv_theme/lib/src/dimens.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_auth_ui): remove unecessary deps from example
  packages/deriv_auth_ui/example/pubspec.yaml
Owners: @sahani-deriv

docs: add semantic versioning document
  .github/GIT_RULES.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: styling the git rules md file
  .github/GIT_RULES.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_auth): add default value for user agent parameter
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
Owners: @sahani-deriv

chore(analytics): fixed package version.
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

chore(analytics): added `logEvent` function to DerivDatadog
  packages/analytics/lib/sdk/datadog/core/enums.dart
  packages/analytics/lib/sdk/datadog/sdk/deriv_datadog.dart
Owners: @waqas-younas-deriv

docs(analytics): corrected `setup` function call for datadog
  packages/analytics/README.md
Owners: @waqas-younas-deriv
