Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

feat(deriv_widgetbook): theme configuration
  packages/deriv_widgetbook/ios/Flutter/Debug.xcconfig
  packages/deriv_widgetbook/ios/Flutter/Release.xcconfig
  packages/deriv_widgetbook/ios/Podfile
  packages/deriv_widgetbook/lib/main.dart
  packages/deriv_widgetbook/lib/main.directories.g.dart
  packages/deriv_widgetbook/lib/widgets/buttons/primary_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/buttons/secondary_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/checkbox/checkbox_usecases.dart
  packages/deriv_widgetbook/web/index.html
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_widgetbook): add widgets
  packages/deriv_banner/lib/src/stacked_banner/stacked_banner.dart
  packages/deriv_widgetbook/assets/icons/ic_no_connection.svg
  packages/deriv_widgetbook/lib/components/banner/banner_usecases.dart
  packages/deriv_widgetbook/lib/components/numpad/numpad_usecases.dart
  packages/deriv_widgetbook/lib/main.dart
  packages/deriv_widgetbook/lib/main.directories.g.dart
  packages/deriv_widgetbook/lib/widgets/buttons/info_icon_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/buttons/primary_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/buttons/secondary_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/checkbox/checkbox_usecases.dart
  packages/deriv_widgetbook/lib/widgets/dialogs/custom_alert_dailog_usecases.dart
  packages/deriv_widgetbook/lib/widgets/dialogs/popup_alert_dialog_usecases.dart
  packages/deriv_widgetbook/lib/widgets/full_screen_message/full_screen_message_usecases.dart
  packages/deriv_widgetbook/lib/widgets/loading_indicator/loading_indicator_usecases.dart
  packages/deriv_widgetbook/lib/widgets/text_fields/base_text_field_usecases.dart
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ensure client is initialized
  packages/deriv_http_client/lib/src/http_client.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

use io HttpClient findProxy method instead
  packages/deriv_http_client/lib/src/http_client.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Revert "use io HttpClient findProxy method instead"
  packages/deriv_http_client/lib/src/http_client.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

code cleanup
  packages/deriv_http_client/lib/src/http_client.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_widgetbook): add numpad
  packages/deriv_widgetbook/lib/components/banner/banner_usecases.dart
  packages/deriv_widgetbook/lib/components/numpad/numpad_usecases.dart
  packages/deriv_widgetbook/lib/components/numpad/numpad_with_exchanger_usecase.dart
  packages/deriv_widgetbook/lib/components/numpad/numpad_without_exchanger_usecase.dart
  packages/deriv_widgetbook/lib/main.dart
  packages/deriv_widgetbook/lib/main.directories.g.dart
  packages/deriv_widgetbook/lib/widgets/text_fields/base_text_field_usecases.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_widgetbook): add grouped list view and expandable bottom sheet
  packages/deriv_widgetbook/lib/components/expandable_bottomsheet/expandable_bottomsheet_usecase.dart
  packages/deriv_widgetbook/lib/components/grouped_list_view/grouped_list_view_usecase.dart
  packages/deriv_widgetbook/lib/main.dart
  packages/deriv_widgetbook/lib/main.directories.g.dart
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add date range picker
  packages/deriv_widgetbook/android/app/build.gradle
  packages/deriv_widgetbook/lib/components/banner/banner_usecases.dart
  packages/deriv_widgetbook/lib/components/date_range_picker/date_range_picker_calender_usecase.dart
  packages/deriv_widgetbook/lib/components/date_range_picker/date_range_picker_input_usecase.dart
  packages/deriv_widgetbook/lib/main.directories.g.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_ui): numpad/move access of inherited widget to didChangeDependencies
  packages/deriv_ui/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_ui/lib/components/numpad/widgets/number_pad_text_field.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_ui): date_picker/replace pop with maybePop for widgetbook
  packages/deriv_ui/lib/components/date_range_picker/widgets/date_range_picker.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_ui): date_picker/match background color with design
  packages/deriv_ui/lib/components/date_range_picker/widgets/date_range_picker.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert(deriv_ui): java file change
  packages/deriv_ui/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

test(deriv_ui): fix failing tests
  packages/deriv_ui/test/components/date_range_picker/widgets/date_range_picker_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_ui): add default focus node and auto focus option in text field, custom checkbox theme changed
  packages/deriv_ui/lib/widgets/base_text_field.dart
  packages/deriv_ui/lib/widgets/custom_checkbox.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_ui): numpad/ move listener to initState
  packages/deriv_ui/lib/components/numpad/widgets/number_pad_text_field.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_widgetbook): remove test folder
  packages/deriv_widgetbook/test/widget_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_ui): add colors and finalise text fields
  packages/deriv_widgetbook/lib/components/date_range_picker/date_range_picker_input_usecase.dart
  packages/deriv_widgetbook/lib/main.directories.g.dart
  packages/deriv_widgetbook/lib/theme/colors_usecases.dart
  packages/deriv_widgetbook/lib/theme/group.dart
  packages/deriv_widgetbook/lib/widgets/buttons/info_icon_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/text_fields/base_text_field_usecases.dart
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_widgetbook): change sdk version
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert(deriv_widgetbook): banner changes
  packages/deriv_banner/lib/src/stacked_banner/stacked_banner.dart
Owners: @ramin-deriv

deps(deriv_widgetbook): change intl version to 0.18.0
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): updated the passkeys button with the correct design
  packages/deriv_passkeys/lib/presentation/widgets/continue_with_passkey_button.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_widgetbook): rename bundle id
  packages/deriv_widgetbook/android/app/build.gradle
  packages/deriv_widgetbook/android/app/src/main/kotlin/com/example/deriv_widgetbook/MainActivity.kt
  packages/deriv_widgetbook/ios/Runner.xcodeproj/project.pbxproj
  packages/deriv_widgetbook/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/deriv_widgetbook/web/manifest.json
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

deps(deriv_widgetbook): upgrade dependencies
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_widgetbook): add linter rules
  packages/deriv_widgetbook/analysis_options.yaml
  packages/deriv_widgetbook/ios/Podfile.lock
  packages/deriv_widgetbook/lib/components/date_range_picker/date_range_picker_calender_usecase.dart
  packages/deriv_widgetbook/lib/components/expandable_bottomsheet/expandable_bottomsheet_usecase.dart
  packages/deriv_widgetbook/lib/components/grouped_list_view/grouped_list_view_usecase.dart
  packages/deriv_widgetbook/lib/components/numpad/numpad_with_exchanger_usecase.dart
  packages/deriv_widgetbook/lib/components/numpad/numpad_without_exchanger_usecase.dart
  packages/deriv_widgetbook/lib/main.dart
  packages/deriv_widgetbook/lib/theme/colors_usecases.dart
  packages/deriv_widgetbook/lib/theme/group.dart
  packages/deriv_widgetbook/lib/widgets/buttons/primary_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/buttons/secondary_button_usecases.dart
  packages/deriv_widgetbook/lib/widgets/checkbox/checkbox_usecases.dart
  packages/deriv_widgetbook/lib/widgets/dialogs/custom_alert_dailog_usecases.dart
  packages/deriv_widgetbook/lib/widgets/dialogs/popup_alert_dialog_usecases.dart
  packages/deriv_widgetbook/lib/widgets/full_screen_message/full_screen_message_usecases.dart
  packages/deriv_widgetbook/lib/widgets/loading_indicator/loading_indicator_usecases.dart
  packages/deriv_widgetbook/lib/widgets/text_fields/base_text_field_usecases.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_widgetbook): rename global key
  packages/deriv_widgetbook/lib/widgets/text_fields/base_text_field_usecases.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs(deriv_widgetbook): add readme
  README.md
  packages/deriv_widgetbook/README.md
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_widgetbook): minor description fixes
  packages/deriv_widgetbook/pubspec.yaml
  packages/deriv_widgetbook/web/index.html
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_web_view): fix platform exception not being caught
  packages/deriv_web_view/lib/deriv_web_view.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth): rename inavalid to invalid in auth state handler
  packages/deriv_auth/lib/core/states/auth_error_state_handler.dart
  packages/deriv_auth/lib/core/states/auth_error_state_mapper.dart
  packages/deriv_auth/test/core/states/auth_error_state_mapper_test.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): removed rpId overriding.
  packages/deriv_passkeys/lib/interactor/services/deriv_passkeys_service.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

recieve HttpClient in DerivTokenService from outside
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
Owners: @sahani-deriv

add the option to recieve http client from outside in openLoggedInWebPage
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/helper.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_auth): change navigation to signupPage in verifyemailpage
  packages/deriv_auth/lib/features/single_entry/features/signup/pages/verify_email_page.dart
Owners: @sahani-deriv

feat(deriv_passkeys): added get register options api call
  packages/deriv_passkeys/lib/core/data/base_model.dart
  packages/deriv_passkeys/lib/data/data_sources/deriv_passkeys_data_source.dart
  packages/deriv_passkeys/lib/data/mappers/deriv_passkeys_mapper.dart
  packages/deriv_passkeys/lib/data/models/deriv_passkeys_register_options_model.dart
  packages/deriv_passkeys/lib/data/repositories/deriv_passkeys_repository.dart
  packages/deriv_passkeys/lib/domain/base_repositories/base_deriv_passkeys_repository.dart
  packages/deriv_passkeys/lib/domain/entities/deriv_passkeys_register_options_entity.dart
  packages/deriv_passkeys/lib/interactor/services/deriv_passkeys_service.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert changes about passing httpclient
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/helper.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv
