Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update depdendencies
  packages/deriv_auth/pubspec.yaml
  packages/deriv_web_view/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): manual versioning
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

chore(version): manual versioning
  README.md
  packages/deriv_web_view/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): manual versioning
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

fix(deriv_auth): endpoint change not reflecting in social login
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
Owners: @sahani-deriv

refactor(deriv_auth): add equatable to social auth state
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_state.dart
Owners: @sahani-deriv

fix(deriv_auth): endpoint change not reflecting in social login
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
Owners: @sahani-deriv

refactor(deriv_ui): update deriv_ui dependencies
  packages/deriv_ui/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_auth): endpoint change not reflecting in social login
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_state.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
Owners: @sahani-deriv

Revert "revert changes about passing httpclient"
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/helper.dart
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix remaining confilct file
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_auth): get social providers
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_login_layout.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_state.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
Owners: @sahani-deriv

Revert "fix(deriv_auth): get social providers"
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_login_layout.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_cubit.dart
  packages/deriv_auth/lib/features/social_auth/cubit/social_auth_state.dart
  packages/deriv_auth/lib/features/social_auth/presentation/widgets/deriv_social_auth_panel.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

test(deriv_auth): fix failing tests
  packages/deriv_auth/lib/core/states/auth_error_state_handler.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/features/social_auth/cubit/social_auth_cubit_test.dart
Owners: @sahani-deriv

test(deriv_auth): fix failing checks
  packages/deriv_auth/lib/core/services/token/services/deriv_token_service.dart
  packages/deriv_auth/test/core/services/token/services/deriv_token_service_test.dart
  packages/deriv_auth/test/features/login/presentation/layouts/deriv_login_layout_test.dart
  packages/deriv_auth/test/features/signup/presentation/layouts/deriv_signup_layout_test.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: remove all_packages workflow run on push
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add getFeatureValue method
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_repository.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix numpad padding
  packages/deriv_numpad/lib/number_pad/number_pad_single_textfield.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change start to end
  packages/deriv_numpad/lib/number_pad/number_pad_single_textfield.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update pubspec.yaml
  packages/deriv_widgetbook/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

upgrade intl
  packages/deriv_numpad/example/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_ui): add language selector component
  packages/deriv_ui/lib/components/components.dart
  packages/deriv_ui/lib/components/language_selector/language_selector.dart
  packages/deriv_ui/lib/components/language_selector/models/language_model.dart
  packages/deriv_ui/lib/components/language_selector/widgets/language_item_list.dart
  packages/deriv_ui/lib/components/language_selector/widgets/language_selector_item.dart
  packages/deriv_ui/lib/components/language_selector/widgets/language_selector_widget.dart
  packages/deriv_ui/lib/components/language_selector/widgets/widgets.dart
  packages/deriv_widgetbook/assets/icons/ic_flag_en.png
  packages/deriv_widgetbook/ios/Podfile.lock
  packages/deriv_widgetbook/lib/components/language_selector/language_selector_usecase.dart
  packages/deriv_widgetbook/lib/main.directories.g.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_theme): add new icon size
  packages/deriv_theme/lib/src/dimens.dart
  packages/deriv_theme/lib/theme_provider.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs(deriv_ui): language_selector_widget/ add README
  packages/deriv_ui/README.md
  packages/deriv_ui/lib/components/language_selector/README.md
  packages/deriv_ui/lib/components/language_selector/widgets/language_item_list.dart
  packages/deriv_ui/lib/components/language_selector/widgets/language_selector_item.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): added DerivPasskeysInit to manage passkeys page
  packages/deriv_passkeys/lib/presentation/pages/manage_passkeys_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): called DerivPasskeysGetPasskeysList in manage passkeys bloc listener
  packages/deriv_passkeys/lib/presentation/pages/manage_passkeys_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): added loading condition to listener in manage passkeys page
  packages/deriv_passkeys/lib/presentation/pages/manage_passkeys_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add(deriv_language_selector): create language selector package
  packages/deriv_language_selector/.gitignore
  packages/deriv_language_selector/.metadata
  packages/deriv_language_selector/CHANGELOG.md
  packages/deriv_language_selector/LICENSE
  packages/deriv_language_selector/README.md
  packages/deriv_language_selector/analysis_options.yaml
  packages/deriv_language_selector/lib/deriv_language_selector.dart
  packages/deriv_language_selector/lib/src/cubits/language_cubit.dart
  packages/deriv_language_selector/lib/src/cubits/language_state.dart
  packages/deriv_language_selector/lib/src/presentation/widgets/language_bottom_sheet.dart
  packages/deriv_language_selector/lib/src/presentation/widgets/language_selector.dart
  packages/deriv_language_selector/lib/src/repository/base_language_repository.dart
  packages/deriv_language_selector/lib/src/services/base_language_service.dart
  packages/deriv_language_selector/lib/src/services/language_service.dart
  packages/deriv_language_selector/pubspec.yaml
  packages/deriv_language_selector/test/deriv_language_selector_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add language parameter to logged in webview
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/helper.dart
  packages/deriv_web_view/lib/models/pta_login_request_model.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add language parameter to logged in webview
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/helper.dart
  packages/deriv_web_view/lib/models/pta_login_request_model.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add language parameter to logged in webview
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/helper.dart
  packages/deriv_web_view/lib/models/pta_login_request_model.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change webview to local on auth
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

revert unnessary changes
  CHANGELOG.md
  packages/deriv_ui/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change webview to local on auth
  packages/deriv_ui/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

change webview to local in deriv_ui
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv
