Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

initial changes
  packages/deriv_auth_ui/example/lib/features/get_started/pages/get_started_page.dart
  packages/deriv_auth_ui/example/lib/features/settings/pages/settings_page.dart
Owners: @sahani-deriv

feat(deriv_passkeys): adding `createPasskey` function in android/kotlin
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/DerivPasskeysPlugin.kt
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/PasskeyManager.kt
  packages/deriv_passkeys/example/android/app/build.gradle
  packages/deriv_passkeys/example/lib/main.dart
  packages/deriv_passkeys/lib/deriv_passkeys.dart
  packages/deriv_passkeys/lib/deriv_passkeys_method_channel.dart
  packages/deriv_passkeys/lib/deriv_passkeys_platform_interface.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_passkeys): lowered credentials dependency version in android
  packages/deriv_passkeys/android/build.gradle
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: fix patrol finder version
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

refactor(deriv_passkeys): create passkey function fixes
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/DerivPasskeysPlugin.kt
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/PasskeyManager.kt
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_localizations): added custom PR title in crowdin config
  crowdin.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

resolve the comment
  packages/deriv_auth_ui/example/lib/features/settings/pages/settings_page.dart
Owners: @sahani-deriv

feat(deriv_localizations): added login with passkeys to android
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/DerivPasskeysPlugin.kt
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/PasskeyManager.kt
  packages/deriv_passkeys/example/lib/features/authentication/data/data_sources/relying_party_server.dart
  packages/deriv_passkeys/example/lib/features/authentication/presentation/pages/landing_screen.dart
  packages/deriv_passkeys/example/lib/features/authentication/presentation/pages/passkeys_screen.dart
  packages/deriv_passkeys/example/lib/features/authentication/presentation/pages/splash_screen.dart
  packages/deriv_passkeys/example/lib/main.dart
  packages/deriv_passkeys/lib/deriv_passkeys.dart
  packages/deriv_passkeys/lib/deriv_passkeys_method_channel.dart
  packages/deriv_passkeys/lib/deriv_passkeys_platform_interface.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_paskeys): changed localization PR to `refactor`
  .github/workflows/localization.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add exports for layouts
  packages/deriv_auth/lib/deriv_auth.dart
Owners: @sahani-deriv

chore: remove deriv_auth_ui from README.md
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): handled NoCredentialException in android
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/PasskeyManager.kt
  packages/deriv_passkeys/example/lib/main.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_passkeys): added IOS Swift Passkey Manager
  packages/deriv_passkeys/ios/Classes/PasskeyManager.swift
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_web_view): updated `flutter_inappwebview`
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/widgets/in_app_browser/chrome_safari_browser.dart
  packages/deriv_web_view/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: slack integration json syntax
  .github/actions/send_slack_notifications/action.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: revert fix & move slack notification step to end
  .github/workflows/version.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: revert fix
  .github/actions/send_slack_notifications/action.yml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_passkeys): add createPasskey function to IOS swift
  packages/deriv_passkeys/ios/Classes/DerivPasskeysPlugin.swift
  packages/deriv_passkeys/ios/Classes/PasskeyManager.swift
  packages/deriv_passkeys/ios/deriv_passkeys.podspec
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): fixed test
  packages/deriv_passkeys/test/deriv_passkeys_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add setting page to example
  packages/deriv_auth/example/lib/features/settings/pages/settings_page.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): both IOS and Android
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/DerivPasskeysPlugin.kt
  packages/deriv_passkeys/android/src/main/kotlin/com/deriv/passkeys/deriv_passkeys/PasskeyManager.kt
  packages/deriv_passkeys/example/ios/Podfile
  packages/deriv_passkeys/example/ios/Podfile.lock
  packages/deriv_passkeys/example/ios/Runner.xcodeproj/project.pbxproj
  packages/deriv_passkeys/example/ios/Runner/Runner.entitlements
  packages/deriv_passkeys/example/lib/main.dart
  packages/deriv_passkeys/ios/Classes/DerivPasskeysManager.swift
  packages/deriv_passkeys/ios/Classes/DerivPasskeysPlugin.swift
  packages/deriv_passkeys/ios/Classes/PasskeyManager.swift
  packages/deriv_passkeys/ios/Classes/PublicKeyCredentialRequestOptions.swift
  packages/deriv_passkeys/lib/deriv_passkeys.dart
  packages/deriv_passkeys/lib/deriv_passkeys_method_channel.dart
  packages/deriv_passkeys/lib/deriv_passkeys_platform_interface.dart
  packages/deriv_passkeys/test/deriv_passkeys_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: fix slack notification issue
  .github/workflows/version.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_banner): updated kotlin version
  packages/deriv_banner/android/build.gradle
Owners: @ramin-deriv

chore(deriv_store_launcher): udpated kotlin and gradle version
  packages/deriv_store_launcher/android/build.gradle
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth): updated package_info_plus
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: fix slack notification
  .github/workflows/version.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_auth): fix overflow issue in change password layout
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(update_checker): increase package info plus version
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth): updated flutter_svg
  packages/deriv_auth/pubspec.yaml
Owners: @sahani-deriv

refactor(deriv_ui): updated flutter_svg
  packages/deriv_ui/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
