Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

add ref
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update chart package version
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_rudderstack/example/pubspec.lock
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert rudderstack example pubspeck.lock changes
  packages/deriv_rudderstack/example/pubspec.lock
Owners: @emad-deriv

point to chart package master branch
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_rudderstack/example/pubspec.lock
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

point to chart package v0.3.3
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update enviroment constraints
  packages/deriv_technical_analysis/pubspec.yaml
Owners: @ramin-deriv

refactor according new line config
  packages/deriv_mobile_chart_wrapper/lib/src/constants.dart
  packages/deriv_mobile_chart_wrapper/lib/src/helpers.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/drawing_tools/drawing_tool_info_bar.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/tools_controller.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update ref
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update ref
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update ref
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add LICENSE file
  packages/deriv_technical_analysis/LICENSE
Owners: @ramin-deriv

update README.md file
  packages/deriv_technical_analysis/README.md
Owners: @ramin-deriv

update README.md file
  packages/deriv_technical_analysis/README.md
Owners: @ramin-deriv

update README.md file
  packages/deriv_technical_analysis/README.md
Owners: @ramin-deriv

update README.md file
  packages/deriv_technical_analysis/README.md
Owners: @ramin-deriv

update README.md file
  packages/deriv_technical_analysis/README.md
Owners: @ramin-deriv

remove lincense section from README file
  packages/deriv_technical_analysis/README.md
Owners: @ramin-deriv

fix a formatting issue in README
  packages/deriv_technical_analysis/README.md
Owners: @ramin-deriv

update version in pubspec.yaml
  packages/deriv_technical_analysis/pubspec.yaml
Owners: @ramin-deriv

update CHANGELOG file
  packages/deriv_technical_analysis/CHANGELOG.md
Owners: @ramin-deriv

update CHANGELOG file
  packages/deriv_technical_analysis/CHANGELOG.md
Owners: @ramin-deriv

fix : forced wallet migration logout on derivgo
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
Owners: @sahani-deriv

update reference
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update refs
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

bump intercom ios version to 18.2.2
  packages/intercom_flutter/README.md
  packages/intercom_flutter/intercom_flutter/CHANGELOG.md
  packages/intercom_flutter/intercom_flutter/ios/intercom_flutter.podspec
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove publish to property from pubspec.yaml
  packages/deriv_technical_analysis/pubspec.yaml
Owners: @ramin-deriv

update shared_preference dep in the sample app
  flutter_architecture_poc/example/pubspec.lock
  flutter_architecture_poc/example/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add repository url to pubspec file
  packages/deriv_technical_analysis/pubspec.yaml
Owners: @ramin-deriv

Update all_packages.yaml
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update all_packages.yaml
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update flutter-deriv-packages git dep
  packages/analytics/README.md
  packages/analytics/example/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/deriv_banner/example/pubspec.yaml
  packages/deriv_banner/pubspec.yaml
  packages/deriv_datadog/README.md
  packages/deriv_date_range_picker/README.md
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/README.md
  packages/deriv_expandable_bottom_sheet/pubspec.yaml
  packages/deriv_feature_flag/README.md
  packages/deriv_language_selector/README.md
  packages/deriv_language_selector/pubspec.yaml
  packages/deriv_lint/README.md
  packages/deriv_live_chat/README.md
  packages/deriv_live_chat/pubspec.yaml
  packages/deriv_logger/README.md
  packages/deriv_mobile_chart_wrapper/README.md
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_numpad/example/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_passkeys/README.md
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_rudderstack/README.md
  packages/deriv_rudderstack/example/pubspec.lock
  packages/deriv_store_launcher/example/pubspec.yaml
  packages/deriv_store_launcher/pubspec.yaml
  packages/deriv_theme/README.md
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_view/README.md
  packages/deriv_web_view/pubspec.yaml
  packages/deriv_widgetbook/pubspec.yaml
  packages/update_checker/README.md
Owners: @waqas-younas-deriv, @sahani-deriv, @ramin-deriv, @sahan-deriv, @emad-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv

update_melos_yaml
  melos.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update flutter-deriv-packages git dep
  packages/analytics/README.md
  packages/analytics/example/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/deriv_banner/example/pubspec.yaml
  packages/deriv_banner/pubspec.yaml
  packages/deriv_datadog/README.md
  packages/deriv_date_range_picker/README.md
  packages/deriv_date_range_picker/pubspec.yaml
  packages/deriv_expandable_bottom_sheet/README.md
  packages/deriv_expandable_bottom_sheet/pubspec.yaml
  packages/deriv_feature_flag/README.md
  packages/deriv_language_selector/README.md
  packages/deriv_language_selector/pubspec.yaml
  packages/deriv_lint/README.md
  packages/deriv_live_chat/README.md
  packages/deriv_live_chat/pubspec.yaml
  packages/deriv_logger/README.md
  packages/deriv_mobile_chart_wrapper/README.md
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_numpad/example/pubspec.yaml
  packages/deriv_numpad/pubspec.yaml
  packages/deriv_passkeys/README.md
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_rudderstack/README.md
  packages/deriv_store_launcher/example/pubspec.yaml
  packages/deriv_store_launcher/pubspec.yaml
  packages/deriv_theme/README.md
  packages/deriv_ui/pubspec.yaml
  packages/deriv_web_view/README.md
  packages/deriv_web_view/pubspec.yaml
  packages/deriv_widgetbook/pubspec.yaml
  packages/update_checker/README.md
Owners: @waqas-younas-deriv, @sahani-deriv, @ramin-deriv, @sahan-deriv, @emad-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv

update flutter-deriv-packages git dep
  README.md
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_auth/pubspec.yaml
  packages/deriv_logger/example/pubspec.yaml
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update flutter-deriv-packages git dep
  packages/deriv_auth/example/pubspec.yaml
  packages/deriv_logger/example/pubspec.yaml
  packages/deriv_passkeys/pubspec.yaml
Owners: @sahani-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update_all_packages_workflow
  .github/workflows/all_packages.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
