Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

New translations app_en.arb (Turkish)
  packages/deriv_localizations/lib/l10n/deriv_passkeys/app_tr.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix comments
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

test: remove test file
  packages/deriv_logger/test/deriv_logger_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_logger): add new package for logging
  packages/deriv_logger/.gitignore
  packages/deriv_logger/.metadata
  packages/deriv_logger/CHANGELOG.md
  packages/deriv_logger/LICENSE
  packages/deriv_logger/README.md
  packages/deriv_logger/analysis_options.yaml
  packages/deriv_logger/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_logger/lib/controllers/logger_controller.dart
  packages/deriv_logger/lib/core/app_logger.dart
  packages/deriv_logger/lib/deriv_logger.dart
  packages/deriv_logger/lib/views/console_log_view.dart
  packages/deriv_logger/lib/views/debug_button.dart
  packages/deriv_logger/lib/views/debug_overlay.dart
  packages/deriv_logger/lib/views/logger_theme.dart
  packages/deriv_logger/lib/views/views.dart
  packages/deriv_logger/pubspec.yaml
  packages/deriv_logger/test/deriv_logger_test.dart
  packages/update_checker/pubspec.lock
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor: format code
  packages/deriv_logger/lib/core/app_logger.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs(deriv_logger): add documentation for using the package
  packages/deriv_logger/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_ui): add specific formatter for crypto and fiat currency
  packages/deriv_ui/lib/components/numpad/models/currency_detail.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix(deriv_ui): allow only 2 decimal digits for stable crypto currencies
  packages/deriv_ui/lib/components/numpad/models/currency_detail.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Updated firebase dependencies
  packages/analytics/lib/sdk/firebase/sdk/deriv_firebase_analytics.dart
  packages/analytics/pubspec.yaml
  packages/analytics/test/firebase/sdk/deriv_firebase_sdk_test.dart
Owners: @waqas-younas-deriv

fix passkey tests.
  packages/deriv_passkeys/test/presentation/pages/learn_more_passkeys_page_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Add callback to `continue_with_passkeys` button.
  packages/deriv_passkeys/lib/src/presentation/widgets/continue_with_passkey_button.dart
  packages/deriv_passkeys/test/presentation/widgets/continue_with_passkey_button_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Fixed example
  packages/deriv_passkeys/example/lib/main.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Ignore deriv_auth tests
  melos.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Minor refactor
  packages/deriv_passkeys/lib/src/presentation/pages/effortless_passkeys_login_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/learn_more_passkeys_page.dart
  packages/deriv_passkeys/lib/src/presentation/pages/manage_passkeys_page.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

fix review comments.
  packages/deriv_auth/lib/core/analytics/service/auth_tracking_mixin.dart
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
  packages/deriv_auth/lib/features/auth/services/base_auth_service.dart
  packages/deriv_auth/lib/features/auth/services/deriv_auth_service.dart
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_login_layout.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/features/auth/cubit/deriv_auth_cubit_test.dart
  packages/deriv_auth/test/features/get_started/presentation/layouts/deriv_get_started_layout_test.dart
  packages/deriv_auth/test/features/login/presentation/layouts/deriv_login_layout_test.dart
  packages/deriv_auth/test/features/signup/presentation/layouts/deriv_signup_layout_test.dart
Owners: @sahani-deriv

remove unused import
  packages/analytics/lib/sdk/rudderstack/events/rudderstack_events.dart
Owners: @waqas-younas-deriv

refactor(deriv_ui): return input amount based on the formatter
  packages/deriv_ui/lib/components/numpad/core/exchange_notifier.dart
  packages/deriv_ui/lib/components/numpad/models/currency_detail.dart
  packages/deriv_ui/lib/components/numpad/widgets/number_pad.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

create deriv_mobile_chart_wrapper package
  packages/deriv_mobile_chart_wrapper/.gitignore
  packages/deriv_mobile_chart_wrapper/.metadata
  packages/deriv_mobile_chart_wrapper/CHANGELOG.md
  packages/deriv_mobile_chart_wrapper/LICENSE
  packages/deriv_mobile_chart_wrapper/README.md
  packages/deriv_mobile_chart_wrapper/analysis_options.yaml
  packages/deriv_mobile_chart_wrapper/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_mobile_chart_wrapper/lib/deriv_mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/test/deriv_mobile_chart_wrapper_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Removed deprecated linter rules
  packages/deriv_passkeys/analysis_options.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Set concurrency for running tests
  melos.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update env version
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
  packages/deriv_passkeys/CHANGELOG.md
  packages/deriv_passkeys/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update README.md
  packages/deriv_mobile_chart_wrapper/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update CHANGELOG.md
  packages/deriv_mobile_chart_wrapper/CHANGELOG.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add required dependencies
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update readme
  packages/deriv_mobile_chart_wrapper/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add localization folder for deriv_mobile_chart_wrapper package
  packages/deriv_localizations/l10n.sh
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_en.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_mobile_chart_wrapper/deriv_mobile_chart_wrapper_localizations_en.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_pt.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_th.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_tr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_passkeys/deriv_passkeys_localizations_zh.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

minor fix in script file
  packages/deriv_localizations/l10n.sh
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix eof of arb file
  packages/deriv_localizations/lib/l10n/deriv_mobile_chart_wrapper/app_en.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add localizations context extension
  packages/deriv_mobile_chart_wrapper/lib/deriv_mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/extensions.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
  packages/deriv_mobile_chart_wrapper/test/deriv_mobile_chart_wrapper_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add bottom sheet widget
  packages/deriv_mobile_chart_wrapper/lib/src/extensions.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/mobile_tools_bottom_sheet_content.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add the bottom sheet
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_chart_wrapper.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/chart_bottom_sheet.dart
  packages/deriv_mobile_chart_wrapper/lib/src/mobile_tools_ui/custom_draggable_sheet.dart
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

export deriv_chart.dart file as well
  packages/deriv_mobile_chart_wrapper/lib/deriv_mobile_chart_wrapper.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

Update localizations
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ar.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_bn.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_de.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_en.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_es.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_fr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_it.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ko.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_pl.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_pt.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_ru.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_si.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_sw.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_th.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_tr.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_vi.dart
  packages/deriv_localizations/lib/l10n/generated/deriv_auth/deriv_auth_localizations_zh.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add a missing label in deriv_auth localization
  packages/deriv_localizations/lib/l10n/deriv_auth/app_en.arb
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update localization dependency
  packages/deriv_mobile_chart_wrapper/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
