Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

chore(analytics): added `.env` file to `.gitignore`
  packages/analytics/example/.gitignore
Owners: @waqas-younas-deriv

docs: GIT_RULES style
  .github/GIT_RULES.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

deprecated: deriv dependency injector
  packages/deriv_dependency_injector/lib/src/injector.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: Update .github/GIT_RULES.md add refactor
  .github/GIT_RULES.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add missing format GIT_RULES.md
  .github/GIT_RULES.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(analytics): added `debugEnabled` to `RudderstackConfiguration`
  packages/analytics/lib/sdk/rudderstack/core/rudderstack_configuration.dart
  packages/analytics/lib/sdk/rudderstack/sdk/deriv_rudderstack_sdk.dart
Owners: @waqas-younas-deriv

docs(analytics): added debugEnabled to RudderstackConfiguration
  packages/analytics/README.md
Owners: @waqas-younas-deriv

ci: replace tag with commit hash on third-party actions
  .github/workflows/all_packages.yaml
  .github/workflows/pr_title.yaml
  .github/workflows/version.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore:bum up version
  packages/update_checker/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add option to enable/disable forgot password & create account
  packages/deriv_auth_ui/example/lib/features/login/pages/login_page.dart
  packages/deriv_auth_ui/lib/src/features/login/layouts/deriv_login_layout.dart
Owners: @sahani-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

revert(analytics): versioning and CHANGELOG
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

revert(analytics): versioning and CHANGELOG
  packages/analytics/CHANGELOG.md
  packages/analytics/pubspec.yaml
Owners: @waqas-younas-deriv

initial changes
  packages/deriv_feature_flag/lib/deriv_feature_flag.dart
  packages/deriv_feature_flag/lib/deriv_feature_flag_service.dart
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_config.dart
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_repository.dart
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_service.dart
  packages/deriv_feature_flag/lib/growthbook/deriv_growth_book.dart
  packages/deriv_feature_flag/lib/growthbook/growth_book_blue_print.dart
  packages/deriv_feature_flag/lib/growthbook/growth_book_config.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove the service
  packages/deriv_feature_flag/lib/deriv_feature_flag.dart
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_service.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

anas/auth_bug_fix
  packages/deriv_auth/lib/features/auth/cubit/deriv_auth_cubit.dart
Owners: @sahani-deriv

add app id hard code
  packages/deriv_auth/lib/core/services/token/models/login_request.dart
Owners: @sahani-deriv

update pubspec.yaml
  packages/deriv_auth_ui/pubspec.yaml
Owners: @sahani-deriv

improve the code and add the tests
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
  packages/deriv_feature_flag/lib/feature_flag/feature_flag_repository.dart
  packages/deriv_feature_flag/lib/growthbook/base_growth_book.dart
  packages/deriv_feature_flag/lib/growthbook/deriv_growth_book.dart
  packages/deriv_feature_flag/test/feature_flag/deriv_feature_flag_test.dart
  packages/deriv_feature_flag/test/feature_flag/feature_flag_repository_test.dart
  packages/deriv_feature_flag/test/feature_flag/mock_classes.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add yaml file
  packages/deriv_feature_flag/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

fix: update with latest master
  packages/deriv_auth_ui/example/lib/features/login/services/example_login_service.dart
Owners: @sahani-deriv

chore: ignore dependent package lint
  packages/deriv_auth_ui/example/analysis_options.yaml
Owners: @sahani-deriv

fix: login button enabled on invalid email and password
  packages/deriv_auth_ui/lib/src/features/login/layouts/deriv_login_layout.dart
Owners: @sahani-deriv

fix comment from @sahani-deriv
  packages/deriv_auth_ui/example/lib/features/login/pages/login_page.dart
  packages/deriv_auth_ui/lib/src/features/login/layouts/deriv_login_layout.dart
Owners: @sahani-deriv

ci: change version.yaml to point to master
  .github/workflows/version.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: version.yaml eof removed
  .github/workflows/version.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

update dependencies
  packages/deriv_auth_ui/pubspec.yaml
Owners: @sahani-deriv

fix: local currencies fromJson authorize_model.dart
  packages/deriv_auth/lib/core/models/authorize_model.dart
Owners: @sahani-deriv

the general readmi file has updated
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add all of the extra files
  packages/deriv_feature_flag/.gitignore
  packages/deriv_feature_flag/.metadata
  packages/deriv_feature_flag/CHANGELOG.md
  packages/deriv_feature_flag/LICENSE
  packages/deriv_feature_flag/README.md
  packages/deriv_feature_flag/analysis_options.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

add missing parameters
  packages/deriv_feature_flag/lib/growthbook/deriv_growth_book.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

small improvement
  packages/deriv_feature_flag/lib/growthbook/growth_book_config.dart
  packages/deriv_feature_flag/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: update readme, ci: add automated readme scripts
  README.md
  scripts/readme.sh
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: add changelog link in readme
  README.md
  scripts/readme.sh
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: add readme automation in version workflow
  .github/workflows/version.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: fix readme scripts
  scripts/readme.sh
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

ci: remove test code in readme.sh
  scripts/readme.sh
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs: update
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

remove key and url logs
  packages/deriv_feature_flag/lib/growthbook/growth_book_config.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_localizations): added localization generation bash script
  packages/deriv_localizations/l10n.sh
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv
