Repository deriv-com/flutter-deriv-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv, @sahan-deriv, @reze-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the https://github.com/regentmarkets/flutter-deriv-packages repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

* @ramin-deriv @waqas-younas-deriv @ahrar-deriv @sahani-deriv @reza-deriv @abed-deriv @emad-deriv

# ==============================================================
#  analytics
# ==============================================================

/packages/analytics/**/*                                            @waqas-younas-deriv


# ==============================================================
#  deriv_app_performance
# ==============================================================

/packages/deriv_app_performance/**/*                                @waqas-younas-deriv


# ==============================================================
#  deriv_auth
# ==============================================================

/packages/deriv_auth/**/*                                           @sahani-deriv
/packages/deriv_auth_ui/**/*                                        @sahani-deriv


# ==============================================================
#  deriv_banner
# ==============================================================

/packages/deriv_banner/**/*                                         @ramin-deriv

# ==============================================================
#  deriv_bloc_manager
# ==============================================================

/packages/deriv_bloc_manager/**/*                                   @ramin-deriv @waqas-younas-deriv @emad-deriv


# ==============================================================
#  deriv_datadog
# ==============================================================

/packages/deriv_datadog/**/*                                        @sahan-deriv


# ==============================================================
#  deriv_technical_analysis
# ==============================================================

/packages/deriv_technical_analysis/**/*                             @ramin-deriv


# ==============================================================
#  form_builder
# ==============================================================

/packages/form_builder/**/*                                         @reze-deriv


# ==============================================================
#  deriv_date_range_picker
# ==============================================================

/packages/deriv_date_range_picker/**/*                              @emad-deriv


# ==============================================================
#   deriv_live_chat
# ==============================================================

/packages/deriv_live_chat/**/*                                      @ramin-deriv @ahrar-deriv


# ==============================================================
#   deriv_rudderstack
# ==============================================================

/packages/deriv_rudderstack/**/*                                    @emad-deriv

refactor(deriv_auth): renamed localization getter in ContextExtension
  packages/deriv_auth/lib/core/extensions/context_extension.dart
Owners: @sahani-deriv

refactor(deriv_auth): Update localization labels in deriv_auth package
  packages/deriv_auth/lib/core/extensions/context_extension.dart
  packages/deriv_auth/lib/core/helpers/country_selection_helper.dart
  packages/deriv_auth/lib/core/layouts/deriv_unavailable_country_layout.dart
  packages/deriv_auth/lib/core/states/auth_error_state_handler.dart
  packages/deriv_auth/lib/features/get_started/presentation/layouts/deriv_get_started_layout.dart
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_2fa_layout.dart
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_login_layout.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_reset_pass_layout.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_success_pass_change_layout.dart
  packages/deriv_auth/lib/features/setting_page/presentation/layouts/deriv_setting_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_country_selection_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_email_not_received_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_set_password_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_signup_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_verification_done_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/layouts/deriv_verify_email_layout.dart
  packages/deriv_auth/lib/features/signup/presentation/widgets/country_selection_list_widget.dart
  packages/deriv_auth/lib/features/signup/presentation/widgets/password_policy_checker_widget.dart
Owners: @sahani-deriv

chore(release): publish packages
  CHANGELOG.md
  packages/deriv_auth/CHANGELOG.md
  packages/deriv_auth/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(version): version bump
  README.md
  packages/deriv_auth/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth): improve reset password error handling
  packages/deriv_auth/lib/features/reset_password/cubit/reset_password_cubit.dart
  packages/deriv_auth/lib/features/reset_password/cubit/reset_password_state.dart
Owners: @sahani-deriv

fix(deriv_auth): fix 2fa for social login
  packages/deriv_auth/docs/deriv_auth_ui.md
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_2fa_layout.dart
  packages/deriv_auth/test/features/login/presentation/layouts/deriv_2fa_layout_test.dart
Owners: @sahani-deriv

docs: update layout documentation
  packages/deriv_auth/docs/deriv_auth_layouts.md
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_auth): sort imports
  packages/deriv_auth/lib/features/login/presentation/layouts/deriv_2fa_layout.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: revert unwanted changes
  packages/deriv_date_range_picker/example/android/build.gradle
  packages/deriv_expandable_bottom_sheet/example/android/build.gradle
  packages/deriv_rudderstack/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  packages/deriv_rudderstack/example/pubspec.lock
  packages/deriv_rudderstack/pubspec.lock
  packages/deriv_theme/pubspec.lock
  packages/deriv_ui/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Owners: @emad-deriv, @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv

chore: use correct flutter version in example app
  packages/deriv_ui/example/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add README files
  packages/deriv_ui/README.md
  packages/deriv_ui/lib/presentation/components/banner/README.md
  packages/deriv_ui/lib/presentation/components/date_range_picker/README.md
  packages/deriv_ui/lib/presentation/components/expandable_bottom_sheet/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: add l10n.yaml file
  packages/deriv_ui/l10n.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth):add reset state functionality to DerivResetPassCubit
  packages/deriv_auth/lib/features/reset_password/cubit/reset_password_cubit.dart
  packages/deriv_auth/lib/features/reset_password/deriv_reset_password_io.dart
Owners: @sahani-deriv

fix: imports in deriv_auth
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_success_pass_change_layout.dart
  packages/deriv_auth/test/core/layouts/deriv_unavailable_country_layout_test.dart
  packages/deriv_auth/test/features/login/presentation/layouts/deriv_2fa_layout_test.dart
Owners: @sahani-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat(deriv_passkeys): added backend implementation for getting options
  packages/deriv_passkeys/example/lib/main.dart
  packages/deriv_passkeys/lib/core/constants/dummy_file
  packages/deriv_passkeys/lib/core/enums/dummy_file
  packages/deriv_passkeys/lib/core/exceptions/dummy_file
  packages/deriv_passkeys/lib/core/extensions/dummy_file
  packages/deriv_passkeys/lib/core/helpers/dummy_file
  packages/deriv_passkeys/lib/data/constants/dummy_file
  packages/deriv_passkeys/lib/data/data_sources/base_deriv_passkeys_data_source.dart
  packages/deriv_passkeys/lib/data/data_sources/base_single_feature_data_source.dart
  packages/deriv_passkeys/lib/data/data_sources/deriv_passkeys_data_source.dart
  packages/deriv_passkeys/lib/data/data_sources/single_feature_data_source.dart
  packages/deriv_passkeys/lib/data/enums/dummy_file
  packages/deriv_passkeys/lib/data/exceptions/dummy_file
  packages/deriv_passkeys/lib/data/extensions/dummy_file
  packages/deriv_passkeys/lib/data/helpers/dummy_file
  packages/deriv_passkeys/lib/data/mappers/deriv_passkeys_mapper.dart
  packages/deriv_passkeys/lib/data/mappers/single_feature_mapper.dart
  packages/deriv_passkeys/lib/data/models/deriv_passkeys_options_model.dart
  packages/deriv_passkeys/lib/data/models/single_feature_model.dart
  packages/deriv_passkeys/lib/data/repositories/deriv_passkeys_repository.dart
  packages/deriv_passkeys/lib/data/repositories/single_feature_repository.dart
  packages/deriv_passkeys/lib/domain/base_repositories/base_deriv_passkeys_repository.dart
  packages/deriv_passkeys/lib/domain/base_repositories/base_single_feature_repository.dart
  packages/deriv_passkeys/lib/domain/entities/deriv_passkeys_options_entity.dart
  packages/deriv_passkeys/lib/domain/entities/single_feature_entity.dart
  packages/deriv_passkeys/lib/interactor/services/deriv_passkeys_service.dart
  packages/deriv_passkeys/lib/presentation/states/bloc/deriv_passkeys_bloc.dart
  packages/deriv_passkeys/lib/presentation/states/bloc/deriv_passkeys_event.dart
  packages/deriv_passkeys/lib/presentation/states/bloc/deriv_passkeys_state.dart
  packages/deriv_passkeys/lib/presentation/widgets/continue_with_passkey_button.dart
  packages/deriv_passkeys/pubspec.yaml
  packages/deriv_passkeys/test/deriv_passkeys_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_passkeys): removed dummy files
  packages/deriv_passkeys/lib/interactor/constants/dummy_file
  packages/deriv_passkeys/lib/interactor/enums/dummy_file
  packages/deriv_passkeys/lib/interactor/exceptions/dummy_file
  packages/deriv_passkeys/lib/interactor/extensions/dummy_file
  packages/deriv_passkeys/lib/interactor/helpers/dummy_file
  packages/deriv_passkeys/lib/presentation/exceptions/dummy_file
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore: fix links in readme
  packages/deriv_ui/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_auth)!: add linkExpired boolean to reset password error state
  packages/deriv_auth/example/lib/features/reset_pass/pages/choose_new_password_page.dart
  packages/deriv_auth/lib/core/constants/constants.dart
  packages/deriv_auth/lib/features/reset_password/cubit/reset_password_cubit.dart
  packages/deriv_auth/lib/features/reset_password/cubit/reset_password_state.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout.dart
  packages/deriv_auth/pubspec.yaml
  packages/deriv_auth/test/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout_test.dart
Owners: @sahani-deriv

docs(deriv_auth): update reset pass layout docs
  packages/deriv_auth/docs/deriv_auth_layouts.md
Owners: @sahani-deriv

test(deriv_auth): add test cases for reset pass refactor
  packages/deriv_auth/test/features/reset_password/cubit/deiv_reset_password_cubit_test.dart
Owners: @sahani-deriv

refactor(deriv_auth): make isLinkExpired non-nullable
  packages/deriv_auth/analysis_options.yaml
  packages/deriv_auth/example/lib/features/reset_pass/pages/choose_new_password_page.dart
  packages/deriv_auth/lib/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout.dart
  packages/deriv_auth/test/features/reset_password/presentation/layouts/deriv_choose_new_pass_layout_test.dart
Owners: @sahani-deriv

revert: linter changes
  packages/deriv_auth/analysis_options.yaml
Owners: @sahani-deriv

docs(deriv_auth): update readme
  packages/deriv_auth/docs/deriv_auth_layouts.md
Owners: @sahani-deriv

feat(deriv_web_view): add open in app web view with redirect url handling helper
  packages/deriv_web_view/lib/deriv_web_view.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

refactor(deriv_web_view)!: remove hardcoded redirect urls
  packages/deriv_web_view/lib/deriv_web_view.dart
  packages/deriv_web_view/lib/widgets/in_app_browser/in_app_browser.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

waqas/compliant_deriv_auth_package_with_ctrader
  packages/deriv_auth/lib/core/models/authorize_model.dart
Owners: @sahani-deriv

fix model exception
  packages/deriv_auth/lib/core/models/authorize_model.dart
Owners: @sahani-deriv

Update authorize_model.dart
  packages/deriv_auth/lib/core/models/authorize_model.dart
Owners: @sahani-deriv

Update authorize_model.dart
  packages/deriv_auth/lib/core/models/authorize_model.dart
Owners: @sahani-deriv

reverting localcurrenies chaage
  packages/deriv_auth/lib/core/models/authorize_model.dart
Owners: @sahani-deriv

refactor(deriv_feature_flag)!: remove static from initialize method
  packages/deriv_feature_flag/lib/feature_flag/deriv_feature_flag.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

docs(deriv_feature_flag): update readme
  packages/deriv_feature_flag/README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

chore(deriv_feature_flag): remove commented code from pubspec
  packages/deriv_feature_flag/pubspec.yaml
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

[create-pull-request] automated change
  README.md
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv

feat: add form_builder to deriv_ui
  packages/deriv_ui/README.md
  packages/deriv_ui/example/lib/form_builder/main.dart
  packages/deriv_ui/example/lib/form_builder/widgets/form_checkbox_field.dart
  packages/deriv_ui/example/lib/form_builder/widgets/form_submit_button.dart
  packages/deriv_ui/example/lib/form_builder/widgets/form_text_field.dart
  packages/deriv_ui/lib/components/components.dart
  packages/deriv_ui/lib/components/form_builder/README.md
  packages/deriv_ui/lib/components/form_builder/form_builder.dart
  packages/deriv_ui/lib/components/form_builder/form_builder/form_builder.dart
  packages/deriv_ui/lib/components/form_builder/form_builder/form_builder_controller.dart
  packages/deriv_ui/lib/components/form_builder/form_builder/form_builder_field.dart
  packages/deriv_ui/lib/components/form_builder/form_builder/form_state_builder.dart
  packages/deriv_ui/lib/components/form_builder/form_validator/form_validator.dart
  packages/deriv_ui/lib/components/form_builder/form_validator/rules/equal_rule.dart
  packages/deriv_ui/lib/components/form_builder/form_validator/rules/max_rule.dart
  packages/deriv_ui/lib/components/form_builder/form_validator/rules/min_rule.dart
  packages/deriv_ui/lib/components/form_builder/form_validator/rules/no_special_character_rule.dart
  packages/deriv_ui/lib/components/form_builder/form_validator/rules/required_rule.dart
  packages/deriv_ui/lib/components/form_builder/text_input_formatter/text_input_decimal_formatter.dart
  packages/deriv_ui/lib/components/form_builder/text_input_formatter/text_input_formatter.dart
  packages/deriv_ui/test/components/form_builder/form_validator/form_validator_test.dart
  packages/deriv_ui/test/components/form_builder/form_validator/rules/equal_rule_test.dart
  packages/deriv_ui/test/components/form_builder/form_validator/rules/max_rule_test.dart
  packages/deriv_ui/test/components/form_builder/form_validator/rules/min_rule_test.dart
  packages/deriv_ui/test/components/form_builder/form_validator/rules/no_special_character_rule_test.dart
  packages/deriv_ui/test/components/form_builder/form_validator/rules/required_rule_test.dart
  packages/deriv_ui/test/components/form_builder/text_input_formatter/text_input_decimal_formatter_test.dart
Owners: @ramin-deriv, @waqas-younas-deriv, @ahrar-deriv, @sahani-deriv, @reza-deriv, @abed-deriv, @emad-deriv
